[2020-06-12 17:42] AlexAndorra opened #34 "Standardize and Update Notebook Gallery"
[BEGINNER-FRIENDLY]
Our [notebooks gallery is quite big](https://github.com/pymc-devs/pymc3/tree/master/docs/source/notebooks), so:
- Many of them use an old style and could use an updating with ArviZ color style instead (not listed).
- Many notebooks show `FutureWarnings` that should be addressed (not listed).
- Some notebooks fail to run because they use outdated third-party APIs or exotic packa

[2020-12-15 16:13] MarcoGorelli opened #2 "Use sigma instead of sd"
e.g. `Normal('x', mu=mu, sigma=sigma)` rather than `Normal('x', mu=mu, sd=sigma)`

`sd` will (silently) continue working, see https://github.com/pymc-devs/pymc3/pull/4344

[2020-12-22 10:24] MarcoGorelli opened #11 "Specify shape in MvNormal"
As per https://github.com/pymc-devs/pymc3/pull/4207#issuecomment-749441455

[2020-12-22 10:50] MarcoGorelli opened #12 "GP-MeansAndCovs.ipynb throws LinAlgError"
Cell 6 contains:
[code]
which throws
[code]

As per #11 , I can fix this by specifying the shape of the MvNormal:
[code]
but then I get
[code]

cc @Sayam753  any suggestions?

[2020-12-22 11:43] Sayam753 commented on #12
So, the covariance matrix is singular.
![Screenshot 2020-12-22 at 5 00 55 PM](https://user-images.githubusercontent.com/43073325/102884279-5ef76280-4477-11eb-9b26-d6ae1545ba8c.png)
That's why Cholesky decomposition fails. I would add a small WhiteNoise to stabilize the diagonal.

Before MvNormal.random was fixed for shape errors in pymc-devs/pymc3#4207, it supported `cov` being singular using `sci

[2020-12-22 17:04] MarcoGorelli commented on #12
cool, thanks for your explanation!

Do you to change it to, e.g.
[code]
?

If so, `np.linalg.det(K)` becomes non-zero, but I still get the same linalg error

[2020-12-22 17:17] Sayam753 commented on #12
Something like

[code]

[2020-12-22 17:28] MarcoGorelli commented on #12
Ah, makes sense, thanks, that works!

[2020-12-24 15:21] Sayam753 commented on #11
I think it would be more descriptive if we raise an error in MvNormal if there is no shape given as an argument.
Thoughts @MarcoGorelli ?

[2020-12-24 15:55] MarcoGorelli commented on #11
@Sayam753 an error is already raised, but yeah, a clearer one would be good! Is it something you're already working on, or should I open an issue?

[2020-12-24 16:07] Sayam753 commented on #11
Yes. @MarcoGorelli go ahead to open it as a good first issue.

[2020-12-27 10:45] twiecki opened #14 "Change examples to use coords where appropriate"
`coords` is a very useful feature that not enough people know about. Our docs should establish best practices so using it in our NBs is an important step.

[2020-12-27 12:10] AlexAndorra commented on #14
+1 💯
This is also a good way to introduce more people to the [wonderful `InferenceData` backend](https://arviz-devs.github.io/arviz/getting_started/XarrayforArviZ.html), which will be returned by default by `pm.sample` in the next version of PyMC3 👌

[2021-01-03 14:06] MarcoGorelli opened #15 "use main instead of master in .github/workflows/pre-commit.yml"

[2021-01-04 08:21] CloudChaoszero commented on #2
Hey @MarcoGorelli, I am working on some big changes related to switching from pymc3 plots to arviz plots.
* Being said, I can take this on as well, and work on both of them.

[2021-01-04 09:21] twiecki commented on #2
That's great @CloudChaoszero - much appreciated!

[2021-01-04 09:22] #15 closed

[2021-01-04 09:24] twiecki commented on #14
@CloudChaoszero This is getting a lot but I wonder if at least with the changing of the examples in https://github.com/pymc-devs/pymc-examples/pull/16 we should at least have them use `InferenceData` (using coords would be the cherry).

[2021-01-04 09:57] CloudChaoszero commented on #14
Sounds great @twiecki! I saw this earlier, but was unsure what `coords` was (i skimmed Alex's link lol).

Is that another term (or method of said class) `InferenceData`?

[2021-01-04 10:25] twiecki commented on #14
@CloudChaoszero No, it's a way to specify dimensions in a model. For example, for Radon, instead of just specifying `shape=len(counties)`, you could specify `dims='counties'` and then also have the names of the counties show up in the `InferenceData` object, rather than just the numbers, which also makes plotting easier.

I do have to warn you though, this would require you to level up on xarray a

[2021-01-04 10:26] AlexAndorra commented on #14
Together with `dims`, this is what allows more intuitive multi-dimensional data indexing with `InferenceData` (instead of plain numpy-array indexing, which is painful for humans for multi-dim data, as I'm sure you already noticed 😅 ).

You can see that in the link I posted above: the posterior data has 3 `dims`, `chain`, `draw` and `school`, which respectively contain 4, 500 and 8 `coords`. For `c

[2021-01-04 10:44] CloudChaoszero commented on #14
Ah, sounds great @twiecki  & @AlexAndorra! The combination of learning arviz & xarray is aligned to what I am trying to learn within the PyMC3 space.  ( thanks y'all for the resources).

I can have this refactor be implemented after the plots & diagnostics PR.
Looking forward to work on this, and any additional comments or questions

[2021-01-18 10:48] CloudChaoszero commented on #2
I updated the PR to include replacing `sd` with `sigma` parameter.
* If any lingering ones exist, we can update it over time, I imagine.

[2021-01-21 09:53] CloudChaoszero commented on #14
Small update:
* I will eventually get to this either this or next weekend haha

(Recently completed a couple of PRs from repos pymc3 & pymc-example)

[2021-01-29 15:25] ricardoV94 opened #31 "Getting started notebook is outdated"
For example here are the Installation instructions:

https://github.com/pymc-devs/pymc-examples/blob/main/examples/getting_started.ipynb

[2021-02-01 11:10] ricardoV94 opened #32 "Combine Marginalized and Latent Gaussian Mixture Notebooks?"
The two notebooks are covering exactly the same issue.

They seem short enough that we could use the same dataset and show one after the other. This way we also get a chance to nudge users to try the marginalized mixture, which usually works better.

https://docs.pymc.io/notebooks/gaussian_mixture_model.html
https://docs.pymc.io/notebooks/marginalized_gaussian_mixture_model.html

[2021-02-04 08:31] OriolAbril commented on #31
Let's keep in mind that this is without any doubt the most visited notebook in the docs, so even the tiniest changes can have a huge impact on the project overall.

It may also be worth to redeploy the docs right after this is updated, even if it's the only change since the last deployment.

[2021-02-04 08:38] ricardoV94 commented on #31
Other things:
1. Probably it's better to just remove the `find_MAP` demonstration at this point?
2. This is severely outdated:

[2021-02-04 08:42] juanitorduz opened #33 "GLM in PyMC3: Out-Of-Sample Predictions Example"
Hi 👋 ! I am very interested in the `glm` module of PyMC3, specially using it for prediction problems. There is an active thread about this topic: [“Out of sample” predictions with the GLM sub-module](https://discourse.pymc.io/t/out-of-sample-predictions-with-the-glm-sub-module/773). I wrote a small post summarising the potential solutions : https://juanitorduz.github.io/glm_pymc3/  Is this somethi

[2021-02-13 07:25] ricardoV94 commented on #33
@juanitorduz, sorry for the delay! From checking that discourse thread, it seems there is a strong need for a concise example on how to do out of sample predictions for GLM models.

I think your blog does a good job so it would probably be a good addition to the examples gallery.

I would think that we might already have some examples buried in other longer glm notebooks, so if you could link to t

[2021-02-13 22:07] CloudChaoszero opened #35 "Wrong Plot Parallel Results in file Diagnosing_biased_Inference_with_Divergences.ipynb"
# Description

The updated PR #25 resulted in differences in results for a pre-existing notebook, seen in [Review of examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb](https://app.reviewnb.com/pymc-devs/pymc-examples/pull/25/files/)

There was an upgrade from PyMC3 V3.9 to V 3.11.
*  I suspect the nature of pm.sample affected the outcome?

Example of changed res

[2021-02-14 15:12] juanitorduz commented on #33
I created an initial PR https://github.com/pymc-devs/pymc-examples/pull/37

[2021-02-24 10:02] ricardoV94 opened #42 "Add contributing information and link to style guide wiki"

[2021-03-08 08:46] nibble0101 commented on #42
Hi @ricardoV94
I have applied for outreachy and would love to get used to this project's code base in case my initial application is accepted. Can you kindly guide me?  I can't seem to find contribution or set up instructions for this repository.

[2021-03-08 09:19] OriolAbril commented on #42
Hi @nibble0101, thanks for your interest. We recently created this repo and moved the notebooks here from the main pymc3 repo, there are still several resources that are on the main repo only.

Here is the link to the contributing guide: https://github.com/pymc-devs/pymc3/blob/master/CONTRIBUTING.md and the link to the style guide: https://github.com/pymc-devs/pymc3/wiki/PyMC3-Jupyter-Notebook-Sty

[2021-03-15 03:02] CloudChaoszero opened #43 "PyMC3 Examples Known Errors & Notes (March 2021)"
# Summary

The following are existing issues & suggestions in the pymc3-examples repo after going through an iteration of renaming plot dependencies from `pm.` to `arviz.`

## Installs
* Pymc3: v3.11
* theano-pymc (aesara):  v 1.1.2
# Issues

## General Issues

* Have param `returninference =True`

## File-specific Issues

- [ ] examples/pymc3_howto/lasso_block_update.ipynb

<details>
<summary>
Is

[2021-03-21 05:42] CloudChaoszero commented on #14
I'm closing in on completing the PRs regarding `pm` to `arviz` plot replacements. 🙌

I'll start working on this issue for the next few weeks.

[2021-03-21 06:21] OriolAbril commented on #14
This is great @CloudChaoszero!

I have a favour to ask about the approach to submit PRs, I hope you don't mind. We are offering an [outreachy](https://www.outreachy.org/) internship project about updating all the notebooks, not only to replace outdated and deprecated behaviour, use ArviZ+xarray, make sure they all show best practices but to move them to pymc3 v4 which we are planning to release so

[2021-03-21 06:30] CloudChaoszero commented on #14
@OriolAbril  Oh no worries! Sounds good, and glad to see Pymc is providing internships to individuals from diverse backgrounds.

[2021-03-21 06:37] OriolAbril commented on #14
Thanks! :smile: and thanks for all the updates so far, they will really help in focusing the internship on pymc3 v3->v4 updates and showcase all the improvements that will come with this next version

[2021-03-21 06:48] OriolAbril commented on #43
Some extra notes

On the `ODE_with_manual_gradients.ipynb`, something related with the gradients must have broken, it used to sample all variables using NUTS, but the latest rerun uses nuts only for sigma:

![image](https://user-images.githubusercontent.com/23738400/111896335-33a1f680-8a19-11eb-9449-3118f6f571a7.png)

some cells below on the same notebook, the call to sample_posterior_predictive s

[2021-03-21 20:58] OriolAbril commented on #43
Even more comments:

on `GP-kron` notebook, the argument `vars` of `sample_posterior_predictive` is used. It has been deprecated so `var_names` should be used instead.

[2021-03-21 21:33] CloudChaoszero commented on #2
I think this Issue can be closed now. 🤞

[2021-03-21 21:36] #2 closed

[2021-03-21 21:50] #33 closed

[2021-03-24 02:18] OriolAbril opened #46 "sampler stats"
file: https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/sampler-stats.ipynb

## Required changes
The notebook should use InferenceData and ArviZ for plotting. Note that the names of the sampler stats in ArviZ are different, the naming convention for ArviZ can be found at https://arviz-devs.github.io/arviz/schema/schema.html#sample-stats, doc which should be li

[2021-03-24 02:30] OriolAbril opened #47 "Multilevel modeling"
file: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/multilevel_modeling.ipynb

This notebook endured a significant rewrite not too long ago, and is one of the go to examples on ArviZ+xarray usage. This is both its main pro and its own downfall. There are some nits to keep it up to its current golden standard.

## Required changes
The notebook should be reexecuted with

[2021-03-24 02:40] OriolAbril opened #48 "Blackbox likelihood"
file: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/blackbox_external_likelihood.ipynb

## Required changes
The notebook needs to be modified to use ArviZ+InferenceData at the very least, it's hard to know what extra work will be needed as it has not been executed for a while, cython usage is tricky to get right. Note that it uses `DensityDist` is _strange_ ways, using

[2021-03-24 02:46] OriolAbril opened #49 "rugby analytics"
file: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/rugby_analytics.ipynb

## Required changes
The inital exploratory analysis looks ok, seaborn is an ok dependency for this, the model needs to be updated, no flat priors for example and we should also use coords+dims and ArviZ for posterior analysis and exploration.

*Notes:* updates on the model and priors can be take

[2021-03-24 02:55] OriolAbril opened #50 "putting workflow"
file: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/putting_workflow.ipynb

## Required changes
See [tracker](https://github.com/pymc-devs/pymc-examples/projects/1) and its [description](https://github.com/pymc-devs/pymc-examples/projects)

notes: consider creating a `logit_idata` and a `logit_trace = logit_idata.posterior` (and the same for other models). I think this

[2021-03-25 10:58] almostmeenal commented on #49
@OriolAbril can I take this

[2021-03-25 11:01] almostmeenal commented on #14
hey this sounds pretty cool, do you think it'd be a good idea for me to apply, I mean I am available over the summer because I have a long summer break from uni and classes are remote, also working on pymc3-examples sounds fun

[2021-03-25 11:10] almostmeenal commented on #46
that sounds like a good idea, I feel like adding more math-y info of those stats would be helpful, because in this notebook I think there's just trace.stat_names, which is sort of just documentation all over again, probably example notebooks should be doing more, I think what I'm trying to say is they can be somewhat pedagogical, I don't know if i make a lot of sense. But I'll be happy to work on

[2021-03-25 13:29] canyon289 commented on #46
Assigned you @almostmeenal. Based on our early conversations regarding GSOC and your interests this seems like a great one to both help you work on the types of OSS youd like to, as well as to keep building up your experience for a strong application (for any project you apply to)!

[2021-03-25 13:29] canyon289 commented on #49
Assigned to this as well. I would suggest closing the two you're assigned to before taking on any more PRs

[2021-03-25 18:49] almostmeenal commented on #46
thanks! I'll get to it soon, yes this does look like a right fit.

On 25 Mar 2021, 6:59 PM +0530, Ravin Kumar ***@***.***>, wrote:

[2021-03-28 15:57] almostmeenal commented on #49
ran into some error- https://github.com/arviz-devs/arviz/pull/1117#issuecomment-808915434 , also random but would it be a good idea to possibly create a similar example notebook with something like ucl or something, with recent data and current best practices, I saw that this notebook didnt even import arviz. can something be done to ensure examples get updated accordingly each time a new PR is me

[2021-03-28 16:13] twiecki commented on #49
@almostmeenal Yes, I think updating the NBs to use best current practices is important, like arviz and `coords`.

[2021-03-29 01:52] OriolAbril commented on #42
I have added a contributing guide with #51

[2021-03-29 02:01] OriolAbril opened #52 "BEST"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/BEST.ipynb
Reviewers: @twiecki @fonnesbeck

## Context

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

#

[2021-03-29 02:12] OriolAbril opened #53 "LKJ"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/LKJ.ipynb
Reviewers: @AlexAndorra

## Context

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### ArviZ

[2021-03-29 02:26] OriolAbril opened #54 "Conditional Autoregressive (CAR) model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/conditional-autoregressive-model.ipynb
Reviewers: @junpenglao

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other upda

[2021-03-29 02:34] OriolAbril commented on #54
I think once the markdown formatting is fixed this can be moved to the "Best Practices" column, do you agree @junpenglao ?

[2021-03-29 02:44] OriolAbril opened #55 "factor analysis"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/factor_analysis.ipynb
Reviewers: ?

## Context

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Gener

[2021-03-29 02:51] OriolAbril opened #56 "hierarchical partial pooling"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/hierarchical_partial_pooling.ipynb
Reviewers: @OriolAbril

## Changes for discussion
Changes listed in this section are up for discussion, these are ideas on how to improve
the notebook but may not have a clear implementation, or fix some know issue only partially.

### ArviZ related
* Consider using new ArviZ labelin

[2021-03-29 03:01] OriolAbril opened #57 "log gaussian cox process"
File: https://nbviewer.jupyter.org/github/pymc-devs/pymc-examples/blob/main/examples/case_studies/log-gaussian-cox-process.ipynb
Reviewers: @ckrapu

## Context

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and sear

[2021-03-29 03:09] OriolAbril commented on #57
@ckrapu, feel free to decline. We are currently trying to update all the notebooks to make sure they follow pymc3 best practices and then have them run on pymc3 4.0+. We are tracking our progress in [this project](https://github.com/pymc-devs/pymc-examples/projects/1), it has a detailed description [here](https://github.com/pymc-devs/pymc-examples/blob/main/CONTRIBUTING.md#about-the-notebook-track

[2021-03-29 03:23] OriolAbril opened #58 "probabilistic matrix factorization"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/probabilistic_matrix_factorization.ipynb
Reviewers: @colcarroll

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other up

[2021-03-29 03:24] OriolAbril commented on #58
Note: the "good first issue" label only applies to updating the notebook from `To Do` to `General Updates`.

[2021-03-29 03:36] OriolAbril opened #60 "stochastic volatility"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/stochastic_volatility.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### ArviZ related

[2021-03-29 12:12] almostmeenal commented on #49
@OriolAbril hi so I'm thinking a lot of things and I'm slightly lost wrt what exactly am i supposed to do, so I'll start a pull request while I'm working on it so you can maybe help me out a bit, from what I think, I guess I'm supposed to change the part after building the model and use arviz inference data format for data and arviz plots instead of the ones used. and for building the model take t

[2021-03-29 12:13] OriolAbril opened #61 "GLM hierarchical binomial model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-hierarchical-binominal-model.ipynb
Reviewers: @OriolAbril

## Context
Notebook had a PR to update it to "Best Practices" before the start of the tracking project.

[2021-03-29 12:26] OriolAbril commented on #49
Sending a PR sounds great! I have been adding more and more guidance and content but I can't go as fast as I'd like. For now you'll see I have already added a [contributing guide](https://github.com/pymc-devs/pymc-examples/blob/main/CONTRIBUTING.md) that is specific to pymc-examples and when you submit the PR, you'll see I have also added a pull request template.

yes, these changes would "move" t

[2021-03-30 02:48] ckrapu commented on #57
No problem, I'm cleaning it up as we speak. This was a good chance for me to clean up the priors in the notebook so that there wouldn't be any need to filter out bad samples from the posterior for the gaussian process. As an aside, do you know how to suppress this warning? It's showing up 10-15 times per usage of `sample`.

[code]

[2021-03-30 07:45] OriolAbril commented on #57
It looks like you are using aesara already which may be a bit too early, which pymc3 versions are you using?

[2021-03-30 11:29] almostmeenal commented on #49
thankyou!! i read the guide and um here's the  PR, https://github.com/pymc-devs/pymc-examples/pull/62
I changed a few plots to arviz wherever I could, for some I'm still a lil confused. The inference data is arviz style and the plots use coords, and replaced old functions like pm.hpd with az.hdi. I was wondering how to use az.quantile since there's a line using "np.quantile" and I figured we could

[2021-03-30 17:51] OriolAbril opened #63 "GP marginal"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-Marginal.ipynb
Reviewers: @bwengals

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General

[2021-03-30 17:57] OriolAbril commented on #63
Hi @bwengals, are you available and willing to help review this notebook as it's updated? Do you have any suggestion on things that may have gotten outdated since the notebook was written?

[2021-03-30 23:11] OriolAbril opened #65 "bayes factor"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/Bayes_factor.ipynb
Reviewers: @aloctavodia

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

[2021-03-30 23:13] OriolAbril opened #66 "divergences notebook"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb
Reviewers: ?

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search

[2021-03-30 23:14] OriolAbril opened #67 "model averaging"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/model_averaging.ipynb
Reviewers: @aloctavodia

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates

[2021-03-30 23:15] OriolAbril opened #68 "model comparison"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/model_comparison.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Gener

[2021-03-30 23:17] OriolAbril opened #69 "prior and posterior predictive checks"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/posterior_predictive.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### G

[2021-03-30 23:18] OriolAbril opened #70 "GP circular"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-Circular.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-03-30 23:20] OriolAbril opened #71 "GP Kron"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-Kron.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

##

[2021-03-30 23:20] OriolAbril opened #72 "GP latent"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-Latent.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-03-30 23:22] OriolAbril opened #73 "GP Mauna Loa"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-MaunaLoa.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-03-30 23:22] OriolAbril opened #74 "GP Mauna Loa (continuation)"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-MaunaLoa2.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates

[2021-03-30 23:23] OriolAbril opened #75 "GP means and covs"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-MeansAndCovs.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updat

[2021-03-30 23:24] OriolAbril opened #76 "GP sparse"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-SparseApprox.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updat

[2021-03-30 23:24] OriolAbril opened #77 "GP Student-t process"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-TProcess.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-03-30 23:25] OriolAbril opened #78 "GP smoothing"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-smoothing.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates

[2021-03-30 23:26] OriolAbril opened #79 "gaussian processes"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/gaussian_process.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upda

[2021-03-30 23:28] OriolAbril opened #80 "GLM hierarchical"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-hierarchical.ipynb
Reviewers: @twiecki

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

[2021-03-30 23:28] OriolAbril opened #81 "GLM linear"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-linear.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upd

[2021-03-30 23:30] OriolAbril opened #82 "GLM logistic"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-logistic.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General u

[2021-03-30 23:31] OriolAbril opened #83 "GLM model selection"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-model-selection.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Ge

[2021-03-30 23:33] OriolAbril opened #84 "GLM negative binomial"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-negative-binomial-regression.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other upd

[2021-03-30 23:34] OriolAbril opened #85 "GLM predictions"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other update

[2021-03-30 23:34] OriolAbril opened #86 "GLM poisson"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-poisson-regression.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

###

[2021-03-30 23:38] OriolAbril opened #87 "GLM robust with outlier detection"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-robust-with-outlier-detection.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other up

[2021-03-30 23:39] OriolAbril opened #88 "GLM robust"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-robust.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upd

[2021-03-30 23:39] OriolAbril opened #89 "GLM rolling regression"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-rolling-regression.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

###

[2021-03-30 23:42] OriolAbril opened #90 "GLM truncated & censored"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-truncated-censored-regression.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other up

[2021-03-30 23:43] OriolAbril opened #91 "generalized linear models"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-03-31 20:36] larryshamalama commented on #52
Submitted a PR [here](https://github.com/pymc-devs/pymc-examples/pull/92)!

[2021-04-01 23:57] ckrapu commented on #57
I'd been using 3.11.1. Should I run a version that's backed by Theano?

[2021-04-02 00:10] OriolAbril commented on #57
3.11.1 should run on theano-pymc, not yet on aesara. Here is the link to it's requirements file: https://github.com/pymc-devs/pymc3/blob/v3.11.1/requirements.txt

[2021-04-02 00:20] ckrapu commented on #57
I must have gotten my environments mixed up, then. Let me try with a clean conda env.

[2021-04-03 19:09] almostmeenal commented on #55
I can take this up, since it seems similar to the previous two notebooks i was/am working on, I'll make a basic draft PR with the changes listed here and whatever else I can notice, after that you can suggest changes. I believe I've been slightly less observant with respect to noticing possible improvements on my own, so I'll work on that.

[2021-04-04 07:12] OriolAbril commented on #55
Sounds great, thanks! I expect this one to be much easier than the rugby one, maybe even easier than the sample_stats one (all naming conventions are tricky).

[2021-04-04 17:12] ckrapu commented on #55
Sorry for the duplicate effort - I started working on this last night and didn't see the discussion.

[2021-04-04 17:17] almostmeenal commented on #55
hi! that's alright, I started working on it half an hour back and I made the numpy changes, I didn't do anything else yet, so maybe push it and I'll make another PR after that adding those?

[2021-04-04 17:26] almostmeenal commented on #55
@ckrapu hi! that's alright, I started working on it half an hour back and I made the numpy changes, I didn't do anything else yet, you can take it up, considering the amount of work you've done(just checked the notebook, it looks really good)
just a lil note: I think you missed using rng in for the binomial one and somewhere, just have a look at that maybe.

[2021-04-04 17:28] ckrapu commented on #55
Ah, yes. I forgot about the other rv generators. Thanks for the pointer!

[2021-04-04 17:28] almostmeenal commented on #55
@OriolAbril considering #98 I'll unassign myself I guess

[2021-04-04 22:50] OriolAbril commented on #55
Hi, glad to see the duplicity was kept to a minimum and you both agreed on how to proceed, thanks especially @almostmeenal.

I just want to note that now with GSoC and especially outreachy (where we have an internship precisely on updating the notebooks in this repo) applications open, more and more people will be working on the repo at the same time, it becomes even more important to follow the g

[2021-04-04 22:54] almostmeenal commented on #55
will keep a note of that!

[2021-04-04 23:29] ckrapu commented on #71
I'd like to work on updating this one. I think it could be expanded with a space-time example using the Kronecker GP.

[2021-04-05 00:12] OriolAbril commented on #71
That would be amazing, thanks! I'll do my best to review, but I am not sure I'll be able to offer much on GPs

[2021-04-05 00:38] OriolAbril opened #99 "dependent density regression"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/mixture_models/dependent_density_regression.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Gene

[2021-04-05 00:41] OriolAbril opened #100 "dirichlet mixture of multinomials"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/mixture_models/dirichlet_mixture_of_multinomials.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

###

[2021-04-05 00:42] OriolAbril opened #101 "dirichlet process mixtures for density estimation"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/mixture_models/dp_mix.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

### Arv

[2021-04-05 00:43] OriolAbril opened #102 "gaussian mixture model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/mixture_models/gaussian_mixture_model.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General up

[2021-04-05 00:43] OriolAbril opened #103 "marginalized gaussian mixture model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/mixture_models/marginalized_gaussian_mixture_model.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

#

[2021-04-05 00:44] OriolAbril opened #104 "ODE: api introduction"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/ode_models/ODE_API_introduction.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates

[2021-04-05 00:49] OriolAbril opened #105 "ODE: shapes and benchmarking"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/ode_models/ODE_API_shapes_and_benchmarking.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Gener

[2021-04-05 00:49] OriolAbril opened #106 "ODE manual gradients"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/ode_models/ODE_with_manual_gradients.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upd

[2021-04-05 00:51] OriolAbril opened #107 "api quickstart"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/api_quickstart.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
* Rem

[2021-04-05 00:51] OriolAbril opened #108 "data container"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/data_container.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

##

[2021-04-05 00:52] OriolAbril opened #109 "how to debug a model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/howto_debugging.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

#

[2021-04-05 00:53] OriolAbril opened #110 "lasso regression with block updating"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/lasso_block_update.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-04-05 00:54] OriolAbril opened #111 "profiling"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/profiling.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

### Arv

[2021-04-05 00:55] OriolAbril opened #112 "sampling callback"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/sampling_callback.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-04-05 00:55] OriolAbril opened #113 "compound steps in sampling"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/sampling_compound_step.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updat

[2021-04-05 00:56] OriolAbril commented on #113
cc @almostmeenal

[2021-04-05 00:56] OriolAbril opened #114 "conjugate steps in sampling"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/sampling_conjugate_step.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upda

[2021-04-05 00:57] OriolAbril opened #115 "updating priors"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/pymc3_howto/updating_priors.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

#

[2021-04-05 00:59] OriolAbril opened #116 "DEMetropolis(Z) efficiency comparison"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/DEMetropolisZ_EfficiencyComparison.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Gene

[2021-04-05 01:00] OriolAbril opened #117 "DEMetropolis(Z) tune drop fraction"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/DEMetropolisZ_EfficiencyComparison.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Gene

[2021-04-05 01:02] almostmeenal commented on #113
Thanks! I'll take it up

[2021-04-05 01:08] OriolAbril opened #118 "jax sampling: GLM hierarchical"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/GLM-hierarchical-jax.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-04-05 01:09] OriolAbril opened #119 "MLDA: gravity"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/MLDA_gravity_surveying.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates

[2021-04-05 01:11] OriolAbril opened #120 "MLDA introduction"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/MLDA_introduction.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

##

[2021-04-05 01:11] OriolAbril opened #121 "MLDA linear regression"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/MLDA_simple_linear_regression.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General u

[2021-04-05 01:13] OriolAbril opened #122 "MLDA variance reduction"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/MLDA_variance_reduction_linear_regression.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

#

[2021-04-05 01:14] OriolAbril opened #123 "SMC approximate bayesian computation"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/SMC-ABC_Lotka-Volterra_example.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General

[2021-04-05 01:18] OriolAbril opened #124 "Sequential Monte Carlo"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/samplers/SMC2_gaussians.ipynb
Reviewers: @aloctavodia @ricardoV94

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

###

[2021-04-05 01:31] OriolAbril opened #125 "parametric survival analysis"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/survival_analysis/bayes_param_survival_pymc3.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### Gen

[2021-04-05 01:32] OriolAbril opened #126 "censored data (survival)"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/survival_analysis/censored_data.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates

[2021-04-05 01:33] OriolAbril opened #127 "cox model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/survival_analysis/cox_model.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

#

[2021-04-05 01:34] OriolAbril opened #128 "survival analysis"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/survival_analysis/survival_analysis.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upda

[2021-04-05 01:47] OriolAbril opened #129 "weibull AFT"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/survival_analysis/weibull_aft.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

[2021-04-05 02:05] OriolAbril opened #130 "VI mini-batch on GLM model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/GLM-hierarchical-advi-minibatch.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

[2021-04-05 02:08] OriolAbril opened #131 "VI bayesian neural network"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/bayesian_neural_network_advi.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

#

[2021-04-05 02:22] OriolAbril opened #132 "VI convolutional vae"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/convolutional_vae_keras_advi.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

#

[2021-04-05 02:23] OriolAbril opened #133 "VI empirical approximation overview"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/empirical-approx-overview.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

###

[2021-04-05 02:24] OriolAbril opened #134 "VI gaussian mixture model"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/gaussian-mixture-model-advi.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

##

[2021-04-05 02:25] OriolAbril opened #135 "VI latent dirichlet allocation"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/lda-advi-aevb.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upda

[2021-04-05 02:25] OriolAbril opened #136 "VI normalizing flows overview"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/normalizing_flows_overview.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

###

[2021-04-05 02:26] OriolAbril opened #137 "VI api quickstart"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/variational_inference/variational_api_quickstart.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

###

[2021-04-05 02:27] OriolAbril opened #138 "AR(1) process"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/time_series/AR.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General updates
*

### ArviZ rela

[2021-04-05 02:28] OriolAbril opened #139 "Inferring SDE params with Euler-Maruyama scheme"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/time_series/Euler-Maruyama_and_SDEs.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General upda

[2021-04-05 02:31] OriolAbril opened #140 "multivariate gaussian random walk"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/time_series/MvGaussianRandomWalk_demo.ipynb
Reviewers:

## Known changes needed
Changes listed in this section should all be done at some point in order to get this
notebook to a "Best Practices" state. However, these are probably not enough!
Make sure to thoroughly review the notebook and search for other updates.

### General up

[2021-04-05 13:40] digitalsimboja commented on #111
Hi Oriol,

Please clarify so I can raise a PR, the solution is to find random seeding and removed and then add theano to the watermark list of versions?

Regards

[2021-04-05 13:53] olgadk7 commented on #128
In addition, should I update the notebook as mentioned in #4027?

[2021-04-05 14:24] fonnesbeck commented on #128
@olgadk7 That would be terrific, thanks!

[2021-04-05 15:38] OriolAbril commented on #128
That would be amazing indeed, thanks! Just to clarify, we don't expect you to fix all the bullet points above, choose which ones you want to address and let us know so we can review based on that and force extra work on you after reviewing.

[2021-04-05 16:11] OriolAbril commented on #111
I have already gone over the notebook and classified it in the "ArviZ" column. Therefore you have to make sure that all the recommendations in the section "General updates" of [notebook update overview](https://github.com/pymc-devs/pymc-examples/wiki/Notebook-updates-overview) are met and that the notebook follows the [notebook style guide](https://github.com/pymc-devs/pymc3/wiki/PyMC3-Jupyter-Not

[2021-04-05 16:14] digitalsimboja commented on #111
Thanks for this

Thanks and regards

On Apr 5, 2021 5:11 PM, "Oriol Abril-Pla" ***@***.***> wrote:

I have already gone over the notebook and classified it in the "ArviZ"
column. Therefore you have to make sure that all the recommendations in the
section "General updates" of notebook update overview
<https://github.com/pymc-devs/pymc-examples/wiki/Notebook-updates-overview>
are met and that the no

[2021-04-05 18:08] olgadk7 commented on #128
Regarding ArviZ, in the survival_analysis notebook it doesn’t do anything that pymc3 couldn’t, does it make sense then to only use pymc3 perhaps? Unless I’m missing some rules that govern how to chose between the two (didn’t find this info after a quick search, just that you seemingly always need to set the ArviZ style, as per the Notebook Style Guide).

Related to that, I’m confused how and why t

[2021-04-05 18:47] OriolAbril commented on #128
PyMC3 has ArviZ as a dependency, and delegates plotting, stats and diagnostics to it. However, for convenience most ArviZ functions are also available as part of the of the pymc3 namespace, `pm.plot_trace` or `pm.summary` are aliases to the corresponding ArviZ function. While you are free to use those aliases, we want to encourage using ArviZ directly.

I have no idea myself, and what is worse, th

[2021-04-05 20:03] olgadk7 commented on #128
Thank you! And, got it, will use ArviZ directly.

Re FutureWarning: it seems like where the trace is called without the context of the model object ("with model:”) you get a FutureWarning saying "Using `from_pymc3` without the model will be deprecated in a future release. Not using the model will return less accurate and less useful results. Make sure you use the model argument or call from_pymc3

[2021-04-05 23:45] OriolAbril commented on #128
Yes, that warning is probably triggered when plotting right? What is happening is that to plot, ArviZ first checks if the input is an InferenceData object, if it isn't, it tries to convert the input to inferencedata automatically. Converting pm.MultiTrace to InferenceData works with only the info in the trace in many cases, but in some others info from the model instance is also needed, so the con

[2021-04-06 23:13] OriolAbril commented on #34
closing this in favour of the [tracker project](https://github.com/pymc-devs/pymc-examples/projects/1) and all the other issues (each notebook has its own issue now)

[2021-04-06 23:13] #34 closed

[2021-04-07 02:07] olgadk7 commented on #128
That worked, thank you for explaining! And you're right: triggered when plotting. Should I then add `return_inferencedata=True` in  every `pm.sample` in the notebook so that there aren't any of those FutureWarnings?

[2021-04-07 07:26] OriolAbril commented on #128
Yes, moreover, return_inferencedata=True will be the default in next version so if at some place you wanted to avoid inferencedata, you'd need to be explicit and manually pass False. Docs should show how to use inferencedata and other best practices though

[2021-04-07 13:54] lucianopaz commented on #69
@OriolAbril, do you feel that out of sample predictions should be introduced in the posterior predictive checks notebook? I mean, the notebook you linked has a "predictions" section where we use the `pm.Data` container to change the predictor values in the logistic regression example, **but there are other scenarios where the `pm.Data` approach isn't enough**.

For example, in the [Radon hierarchi

[2021-04-07 14:29] OriolAbril commented on #69
Yes, this is much more well put, thanks!

I think it would be beneficial to split that notebook into more specific tutorials. Usage of `pm.sample_posterior_predictive` should have it's own notebook, explaining all these cases, but we should probably wait until v4 to write it, There `pm.Data` will be more powerful and flexible, but I think we will still need to refine the model for tasks like rando

[2021-04-11 03:19] jessicakzhang commented on #86
Hi! I'd like to try working on this.

[2021-04-11 08:58] OriolAbril commented on #86
That would be great @jessicakzhang! I have added a couple of suggestions based on a quick look over the notebook, I'll review more carefully once you submit a PR.

Let us know if you have any doubt while working on this

[2021-04-12 23:07] olgadk7 commented on #128
After a cascade of changes resulting from a simple inferencedata change, including updating pymc3, theano-pymc3, as well as my whole environment, and conda-removing theano, I’m up against the non-descriptive “NotImplementedError:” when calling aesara methods listed in its docs. Looked for solutions everywhere, please direct.

This is the line causing it: “lambda_ = pm.Deterministic("lambda_", T.ou

[2021-04-12 23:13] OriolAbril commented on #128
Which versions do you have installed/are using? You shouldn't be using Aesara yet, the latest pymc3 stable release (3.11.2) runs on theano-pymc only: https://github.com/pymc-devs/pymc3/blob/v3.11.2/requirements.txt

[2021-04-12 23:48] olgadk7 commented on #128
oh ok - i was under the impression that theano-pymc is aesara, as that's where the theano-pymc link leads to on the [installation guide](https://github.com/pymc-devs/pymc3/wiki/Installation-Guide-(MacOS)), as well as on the "[PyMC3 and Theano](https://docs.pymc.io/PyMC3_and_Theano.html)" page. So to run theano-pymc, i use "import theano"? Versions:
[code]

Thanks!

[2021-04-13 00:08] OriolAbril commented on #128
Yes! I think that should be enough for everything to work.

[2021-04-13 17:13] olgadk7 commented on #128
So I'm back to that big messy compilation error (below). everything i read about it is either old, contradictory or beyond me. do you have an idea what's it about? Thank you.

[code]

[2021-04-13 17:32] fonnesbeck commented on #128
I always start by deleting my ~/.theano directory. That sometimes fixes odd compilation issues (but not always).

[2021-04-15 01:52] olgadk7 commented on #128
Thank you, that was a problem related to conda-forge installing an older version seemingly.

I have another question, please: what's the best way to realign trace's shape when it became an InferenceData object (after being a MultiTrace)? Getting a "ValueError: operands could not be broadcast together with shapes" when doing `trace.posterior["lambda0"] * np.exp(np.atleast_2d(trace.posterior["beta"]

[2021-04-15 02:09] OriolAbril commented on #128
One of the coolest features of InferenceData is that the data is stored in xarray Datasets. xarray can be seen as the pandas equivalent for n-d data and it uses named dimensions and coordinates which allow it to automatically align and broadcast arrays automagically. All the code above with the atleast2d and transpose is now unnecessary, you can do `trace.posterior["lambda0"] * np.exp(trace.poster

[2021-04-17 02:24] olgadk7 commented on #128
Quick question: ArviZ's [label guide](https://arviz-devs.github.io/arviz/user_guide/label_guide.html#label-guide) says all plotting functions support the 'labeller' argument but I don't see it in `plot_hdi`. How do we attach the labels to the hdi plot's legend otherwise? ps it's been nice to discover the world of the xarray, thank you!

[2021-04-17 02:55] OriolAbril commented on #128
`plot_hdi` doesn't support a legend "by itself". You can use for example `fill_kwargs={"label": "var_name"}` to get one. It will look like https://docs.pymc.io/notebooks/multilevel_modeling.html. Maybe we could be explicit on that in the label guide, but basically there are a few plotting functions in ArviZ that are "low" level, these don't take `InferenceData` as input, and are generally called b

[2021-04-18 13:54] chiral-carbon commented on #58
Hi @OriolAbril , can I take this issue up? I am going through the probabilistic matrix factorization notebook at the moment and thought I could attempt to make the recommended changes.

[2021-04-18 14:02] chiral-carbon commented on #81
Hello! I commented under issue #58  too but this issue is also one I'd like to take up and attempt to make the suggested improvements.

[2021-04-18 14:12] OriolAbril commented on #58
Definitely,  I'll assign it to you. Let me know if you have any doubts, especially on xarray which can be challenging even for seasoned pymc3 users

[2021-04-18 14:14] OriolAbril commented on #81
I'll assign this to you too,  as PRs are only on a per notebook basis here, it's no problem to work on 2-3 notebooks simultaneously

[2021-04-18 14:24] chiral-carbon commented on #81
great, thank you!

[2021-04-18 14:24] chiral-carbon commented on #58
sure, thanks! I'll get back to you on this.

[2021-04-20 08:50] chiral-carbon commented on #81
hello! had a plots related doubt. apart from using `figzise` as kwargs in `plot_trace` in cell 7 (using ArviZ), is there any other change that should be done? it's a very minor change so I wanted to confirm in case I might have misunderstood.

the plot code looks like this currently:
'az.plot_trace(trace, figsize=(11,7));`

is this sufficient?

[2021-04-20 09:30] OriolAbril commented on #81
Yes, the notebook is short and concise and there aren't many things to update

[2021-04-20 11:44] chiral-carbon commented on #81
okay, got it. thanks.

[2021-04-21 03:02] olgadk7 commented on #128
Hopefully one last piece I don’t get:

I’m trying to plot on the y-axis the mean of a DataArray `tv_met_hazard.mean(dim=(“chain", "draw”))` where

`tv_met_hazard = time_varying_trace.posterior["lambda0"] * np.exp(time_varying_trace.posterior["beta"])`

and has coords chain, draw, lambda0_dim_0, and beta_dim_0.

It returns the same values as its MultiTrace version but with a different mean of means

[2021-04-21 12:46] OriolAbril commented on #128
InferenceData uses named dimensions, if no dimension names are given, default names based on the variable name are used. This is where `lambda0_dim_0` and `beta_dim_0` come from. When you add them, the broadcasting and alignment is based on the dimension names, not on the shape. You are therefore adding arrays with `chain, draw, lambda0_dim_0` and `chain, draw, beta_dim_0`, so the result is an arr

[2021-04-21 14:05] Aut0R3V commented on #31
@ricardoV94 I'm interested in working for this. To begin with, the find_MAP  demonstration has been removed through this pull request - https://github.com/pymc-devs/pymc-examples/pull/145

For the second point, what changes can be made?
Can you please explain the third point?
Thanks!

[2021-04-22 08:10] CloudChaoszero commented on #14
Small update: I should come back to (incrementally) making the changes in the notebooks @OriolAbril. I had some bandwidth constraints recently haha

[2021-04-23 18:30] KavyaJaiswal commented on #91
I want to work on this.

[2021-04-26 18:46] olgadk7 commented on #128
Thank you! Submitted the commit https://github.com/pymc-devs/pymc-examples/pull/96. Happy to hear if any other changes are needed.

[2021-04-28 18:01] KavyaJaiswal commented on #108
I want to work on this issue

[2021-04-28 18:09] OriolAbril commented on #91
There seem to be issues when trying to run the notebook. It doesn't work on v3, not sure why, I don't know how GLM module works. If someone does great, otherwise it may not be worth fixing if it's a bug, we probably can update this to use bambi directly.

[2021-05-03 10:34] KavyaJaiswal commented on #114
I want to work on this issue.

[2021-05-04 07:17] chiral-carbon commented on #86
Hi @jessicakzhang , are you still working on this issue? @OriolAbril would it be okay if I were to submit a PR for this issue, considering the fact that this issue has already been assigned?

[2021-05-04 08:36] chiral-carbon commented on #80
Hi! I would like to take up this issue.

[2021-05-04 11:03] OriolAbril commented on #86
Hi, yes, as it has been more that two weeks with no activity, as indicated in the contributing guide, I'll assign the issue to you so you can submit a PR.

[2021-05-04 11:12] OriolAbril commented on #80
Sorry about the bad tracking in this case @chiral-carbon, there was already a PR open for that but it wasn't properly linked, you can help reviewing the PR if you are interested in this specific notebook, the more eyes the better :smile:

[2021-05-04 11:52] chiral-carbon commented on #80
oh okay, no worries!

[2021-05-04 11:53] chiral-carbon commented on #86
thanks a lot!

[2021-05-05 08:09] chiral-carbon commented on #86
@OriolAbril had a doubt regarding updating `np.exp(np.mean())` to `np.mean(np.exp())` in cells 15 and 19. as far as I understood, `az.summary` returns certain statistics of which mean is one, and we are computing `np.exp()` for this summary dataframe.
should this be changed to compute `np.mean()` of `az.summary`? I am unclear as to exactly where we should be applying `np.exp()` here.

[2021-05-05 11:25] chiral-carbon commented on #60
Hi @OriolAbril ! Can I work on this issue?

[2021-05-05 12:41] OriolAbril commented on #86
I used mean as a placeholder, `summary` is acting as mean (as well as acting as hdi). Exponentiating should come first, then calling summary on the exponentiated data, not the other way around.

I think the default stats is good enough and it's simple, there is no need to overly complicate the notebook only to exclude `sd` from summary.

[2021-05-05 12:41] OriolAbril commented on #60
Assigned :)

[2021-05-05 13:21] chiral-carbon commented on #60
thanks!

-------------------------------------------------------------------------------------------------------------------------------------------

I tried running it first, and I get a KeyError in cell 12:
[code]
I'm not sure how to verify this. could you help me out?

[2021-05-05 13:28] chiral-carbon commented on #60
I do have 'volatility' under Data Variables, so I'm wondering if this is an issue of syntax error and there is a different way to access it than `trace["volatility"]`?

![Screenshot from 2021-05-05 18-57-33](https://user-images.githubusercontent.com/25850628/117148498-e369d280-add3-11eb-84aa-edc5d3ef3b9b.png)

[2021-05-05 13:44] chiral-carbon commented on #86
oh okay, thanks for clarifying.
so when I do the exponentiation on `inf_fish` which is an `InferenceData` object, I should first convert it to a data frame and exponentiate that data frame, and only then create a summary for it. have I understood this correctly? but `az.summary` takes an `InferenceData` object, so what would be the best way to exponentiate it?

[2021-05-05 14:07] OriolAbril commented on #86
You should exponentiate the posterior samples, which are a group in inferencedata, in the form of an xarray dataset. It should look something like: `az.summary(np.exp(idata.posterior), ...)`

[2021-05-05 14:11] chiral-carbon commented on #60
update: I figured out how to access the xarray variables

[2021-05-05 14:18] chiral-carbon commented on #86
yes, that works, thanks a lot!

[2021-05-05 14:49] chiral-carbon commented on #86
in cell 19, I think there's a typing error. the code in cells 15 and 19 are identical and call a summary for the same variable `inf_fish`, which was generated using the manual model. cell 19 should be displaying the summary for the model results created with `glm.from_formula` and which are stored in the variable `inf_fish_alt`. can you confirm this?

[2021-05-05 16:08] OriolAbril commented on #60
Hi, sorry about that, the documentation on InferenceData is still in very active development and quite scattered.

I'd recommend using directly `trace.posterior["volatility"]` which should return the same result. I think going over https://docs.pymc.io/notebooks/multilevel_modeling.html will help as you'll see InferenceData in action, and then you need to use the fact that InferenceData groups (i.

[2021-05-05 16:39] chiral-carbon commented on #60
this really helps, thanks a lot!

[2021-05-05 20:55] OriolAbril commented on #86
yes, it is definitely a typo.

I would update it to avoid confusing readers

[2021-05-06 08:49] drbenvincent commented on #90
I had this example notebook accepted a few months ago - never made it live on the website. I think it just needs some small things done (i.e. from the [Notebook updates overview](https://github.com/pymc-devs/pymc-examples/wiki/Notebook-updates-overview)) to follow best practice. Happy for you to assign me to this.

[2021-05-06 10:46] drbenvincent commented on #90
Just checking the procedure... I should make a pull request when I'm done, and reference this issue?

[2021-05-06 11:32] OriolAbril commented on #90
Yes, when you open the PR link this issue so it will keep track of all the evolution of the notebook. Once merged I'll triage it to "best practices" and github will add the "oriol moved this issue to best practices in notebook tracker", then someone will make a PR for v4 also linkong here...

[2021-05-06 23:38] chiral-carbon commented on #60
I'm not sure how to choose one in five points using `sel`. what I have now is
`y = trace.posterior.rename_dims({'volatility_dim_0':'vol'}).stack(pooled_chain=("chain","draw")['volatilty']` which has a dimension of `(2905, 8000)`. If I want one in 5 points the resulting dimensions for `y_vals` should be `(2905,1600)`, however I'm not able to get that if I apply `sel(vol=slice(5))` on `y` here and a

[2021-05-07 00:06] OriolAbril commented on #60
I think you'll want to do `.isel(pooled_chain=slice(step=5))`, after stacking, the labels are like tuples so we'll want to use positional indexing. Note also that doing `slice(step=5)` is completely different from `slice(5)` which is equivalent to `slice(stop=5)` (see https://docs.python.org/3.9/library/functions.html#slice).

Now that you are already discussing specific changes, can you open a PR

[2021-05-07 07:45] chiral-carbon commented on #60
Yup, will open a PR. a seems more logical than discussing like this.

[2021-05-07 08:24] chiral-carbon commented on #60
right, thanks! very silly of me to mistake how to use `slice` in python, I assumed it was some different functionality when used in xarray, don't know why!
Yup, will open a PR. a seems more logical than discussing like this.

[2021-05-07 08:38] OriolAbril commented on #60
No need to apologize! We all make mistakes :), and I think all of us were somewhere between very confused and completely lost when starting with xarray. We even created https://github.com/arviz-devs/xarray_examples to help ourselves with specific xarray questions.

[2021-05-07 09:07] chiral-carbon commented on #60
looks like a very useful tracker/resource to me :smile:

[2021-05-20 10:44] JohnGoertz opened #160 "Examples gallery thumbnails are sometimes poorly representative"
It seems that the [examples gallery](https://docs.pymc.io/nb_examples/index.html) auto-generates thumbnails by grabbing the last figure in a notebook. However, this has often resulted in thumbnails that are either un-informative or even mis-informative. For example, the thumbnail for GP-circular is actually a contrasting example the author provided of how *not* to make a circular GP. In a similar

[2021-05-20 11:19] OriolAbril commented on #160
having no idea how thumbnail generation works, the metadata option sounds good. I think it was @ColCarroll who wrote the sphinx extension to add example to the gallery so he may have better insight

[2021-05-21 19:37] bwengals commented on #63
Hey so sorry I missed this, yes I definitely can.  As far as I know everything in it is up to date.

[2021-05-22 13:28] drbenvincent commented on #126
I'm happy if you want to assign this one to me

[2021-05-22 14:31] OriolAbril commented on #126
Done, thanks!

[2021-05-24 10:13] drbenvincent commented on #126
**TODO:** Add a link to the "Bayesian regression with truncated or censored data" notebook (#162). At the moment it is not clear what the URL will be. @OriolAbril suggests...

[2021-05-24 17:27] almostmeenal commented on #91
hey @KavyaJaiswal, i guess since you'll be working on outreachy, if you've left this issue i can take it up!!

[2021-05-24 18:16] KavyaJaiswal commented on #91
Sure, all the best!!

[2021-05-24 22:17] OriolAbril commented on #91
@almostmeenal do you plan to start on this right away?

I think the best way forward is to merge @KavyaJaiswal's PR which already covers a lot of important updates so that you can then fix the second half of the notebook. Now that [Bambi 0.5 is out](https://discourse.pymc.io/t/bambi-0-5-0-is-out/7463), once the current PR is merged most of the work will be moving from pymc3.gml module to bambi. So

[2021-05-25 02:35] fonnesbeck commented on #140
This notebook has no supporting text. A comprehensive description of the application should be added.

[2021-05-25 07:14] almostmeenal commented on #91
okayy!! that sounds good, you can merge the PR and then tomorrow i'll have a look at what to do next?

[2021-05-27 02:39] hectormz opened #165 "Broken Hyperlinks on Website"
I ran https://docs.pymc.io/ through a dead link checker and found a number of broken links on the website. Some should be fixed from the `pymc-examples` repo and some are in the main `pymc3` repo, so I'm posting in both. Some hyperlinks just need to be updated (and images to bayesian book covers), but others may point to entities or resources that don't exist anymore.

This doesn't seem to be exha

[2021-05-27 16:19] OriolAbril commented on #165
Thanks! I have added a note on this at https://github.com/pymc-devs/pymc-examples/wiki/Notebook-updates-overview. You mention a dead link checker, do you know if it could be added as a step to our CI?

It currently checks format, execution order and a couple other things and it would be great to also check that. Especially given that sometimes reviewnb doesn't render the links correctly. i.e. the

[2021-05-28 01:07] hectormz commented on #165
@OriolAbril I had just used https://www.deadlinkchecker.com, which seems a little stochastic. Would you want to use something in pre-commit and/or a github action?

[2021-05-28 17:20] hectormz commented on #165
I found [pytest-check-links](https://github.com/jupyterlab/pytest-check-links) which works on:
* .html
* .rst
* .md
* .ipynb (requires nbconvert)

One consideration is if you want to check the source files for broken links, or check resulting files/website itself

[2021-06-01 18:09] OriolAbril commented on #165
I think checking the source files is fine, maybe even better. There will be links that are sphinx generated and therefore won't be checked in this approach, but these rely on intersphinx which should be quite robust and error out when building the docs if there is an issue.

[2021-06-04 20:59] OriolAbril commented on #91
General note that while I would not consider having the notebook "broken" a blocker, it would be great to port it to bambi before 3.11.3 is released and therefore the website is updated. I can also ask bambi devs for help if this timeline is too short

[2021-06-05 04:32] almostmeenal commented on #91
hey, okay yes that makes sense. can you give me a deadline (for personal organization) deadlines help me avoid procrastinating, then i'll get it done!!!

[2021-06-05 07:26] OriolAbril commented on #91
@canyon289 do you have an eta on 3.11.3?

[2021-06-06 13:03] almostmeenal commented on #91
@OriolAbril @canyon289 does 20th june work as a deadline?

[2021-06-07 03:09] fonnesbeck opened #167 "Overzealous black formatting on data lists"
Black makes a poor choice in formatting long arrays, for example in the disasters example:

<img width="628" alt="Screen Shot 2021-06-06 at 10 04 55 PM" src="https://user-images.githubusercontent.com/81476/120953760-520fb800-c713-11eb-9f37-6f30bb109faa.png">

If there isn't a way of making exceptions for instances like this, the data should be stored externally.

[2021-06-07 09:03] OriolAbril commented on #167
It is possible to turn formatting off with `# fmt: on/off` the style guide has an example of this: https://github.com/pymc-devs/pymc3/wiki/PyMC3-Jupyter-Notebook-Style-Guide

[2021-06-08 09:28] OriolAbril commented on #101
I tried moving from nbsphinx to myst-nb and was unable to do so because the widgets in this notebook are not saved correctly, see https://github.com/jupyter/jupyter-sphinx/blob/master/jupyter_sphinx/ast.py#L607. After manually editing the metadata to remove the widgets completely I was able to build the documentation.

Side note: the DE-MCMC notebooks _also_ have widgets but they are correctly sav

[2021-06-08 09:35] chiral-carbon commented on #83
@OriolAbril can I work on this?

[2021-06-08 11:02] OriolAbril commented on #83
Great!

[2021-06-09 09:02] OriolAbril opened #169 "GP Heteroskedastic"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/gaussian_processes/GP-Heteroskedastic.ipynb
Reviewers:

## Changes for discussion
Changes listed in this section are up for discussion, these are ideas on how to improve
the notebook but may not have a clear implementation, or fix some know issue only partially.

### ArviZ related
* Use ArviZ and xarray for posterior predictive pl

[2021-06-09 09:03] OriolAbril opened #170 "Moderation analysis"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/moderation_analysis.ipynb
Reviewers: @drbenvincent

## Notes

### Exotic dependencies

### Computing requirements

[2021-06-09 09:05] OriolAbril commented on #170
@drbenvincent I have tagged you to keep you up to date with the notebook when we update it to v4 at some point during the coming months, feel free to unsubscribe

[2021-06-09 09:06] OriolAbril opened #171 "Mediation analysis"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/mediation_analysis.ipynb
Reviewers: @drbenvincent

## Notes

### Exotic dependencies

### Computing requirements

[2021-06-09 09:08] OriolAbril opened #172 "Bayesian A/B testing"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/bayesian_ab_testing.ipynb
Reviewers: @tcuongd

## Notes

### Exotic dependencies

### Computing requirements

[2021-06-09 09:10] OriolAbril commented on #172
Hi @tcuongd I have tagged you to keep you up to date for when we update the notebook to work with [PyMC3 4.0](https://github.com/pymc-devs/pymc3/wiki/Timeline) at some point during the coming months, feel free to unsubscribe if not interested.

[2021-06-09 10:30] twiecki opened #174 "Remove mention of glm submodule"
E.g. http://docs.pymc.io/pymc-examples/examples/generalized_linear_models/GLM-linear.html#Estimating-the-model

glm submodule is being deprecated.

[2021-06-09 13:21] OriolAbril commented on #81
Needs to be updated to use bambi instead of glm module

[2021-06-09 13:22] OriolAbril commented on #86
Needs to be updated to use bambi instead of glm module

[2021-06-09 13:25] OriolAbril commented on #174
indeed, thanks for the remainder. this had already started in https://github.com/pymc-devs/pymc-examples/issues/91. I have now also retriaged a couple notebooks to be more explicit about it so I'll close the issue

[2021-06-09 13:25] #174 closed

[2021-06-09 14:00] twiecki opened #176 "Add a tutorial NB for BART"
Currently we only have the doc string, but a good example NB on what it is, how to use it etc would go a long way.

[2021-06-09 14:02] chiral-carbon commented on #176
Thanks @twiecki, I hope I can do a good job! :eyes:

[2021-06-09 14:22] tcuongd commented on #172
Thank you! Definitely interested :)

[2021-06-09 15:58] drbenvincent commented on #170
Am I right in thinking that the plan is for one large batch update of https://docs.pymc.io, rather than drip feeding various updates to the live site?

[2021-06-09 16:03] OriolAbril commented on #170
The website is only updated with new releases, so the notebooks will be published there with https://github.com/pymc-devs/pymc3/issues/4658 which should happen in 1-2 weeks. I went over all the notebooks and merged everything even if I was the only reviewer to make sure they get in this update batch.

[2021-06-09 16:28] almostmeenal commented on #174
hi im working on the notebook rn, hopefully should be done in a day, just wanted to ask, do we just need to update glm.ipynb or all other ones in the glm folder too?

[2021-06-09 16:31] OriolAbril commented on #174
All those that use the glm module need to be updated, but we should do it one at a time

[2021-06-09 19:06] hectormz commented on #165
Maybe [pytest-check-links](https://github.com/jupyterlab/pytest-check-links) is worth checking out then. Depending on how long it takes, it can be done by CI for PR, etc

[2021-06-10 00:08] almostmeenal commented on #174
so um, before the bambi release thing, do i need to fix all the notebooks or just that one?

[2021-06-10 01:45] chiral-carbon commented on #174
hey @almostmeenal! the nature of my outreachy project is such that I would primarily be involved in updating the example notebooks, which would be those for the glm module as well, though I'm far away from finishing any of that yet!! just wanted to put that here and obviously you can work on any of the issues in the notebooks if you wish to, but just in case you thought it might be a requirement o

[2021-06-10 08:06] OriolAbril commented on #174
The release we discussed on slack is a pymc3 release which means we'll update the website, so we should avoid publishing broken notebooks to the best of our ability.

Updating the notebooks to use bambi needs to be done but is not urgent in any sense, it is an extra step in the whole notebook update project, for now you should focus only on the `glm.ipynb` which is the one that's broken, other glm

[2021-06-14 16:34] chiral-carbon commented on #86
will be working on it @OriolAbril

[2021-06-20 18:17] ally-lee opened #184 "Guide for writing custom distributions"
I would like to contribute a guide for defining custom PyMC3 distributions. I was working with count data and realized that the Poisson distribution didn't offer the flexibility in dispersion I needed since the mean and variance are fixed to each other. I decided that the Generalized Poisson was a better likelihood for my model, so I wrote a custom distribution for it. I have put together a notebo

[2021-06-21 03:16] martinacantaro opened #186 "Create notebook PR template"
Require PRs to follow the [Style Guide](https://github.com/pymc-devs/pymc3/wiki/PyMC3-Jupyter-Notebook-Style-Guide)

Require a statement detailing what the notebook adds in the context of our documentation and why it’s important.

Require checking that the content  isn’t already covered by another notebook

[2021-06-21 03:25] martinacantaro opened #188 "Add categories and labels to notebooks"
As per the [June 18th meeting,](https://github.com/pymc-devs/pymc/wiki/GSoD-2021-Meeting-Minutes#friday-june-18) categories will be used to label the different levels of documentation (beginner, intermediate, advanced) and tags will be used to label the topics.
This will improve searchability

[2021-06-21 07:36] OriolAbril commented on #186
The pull request template for pymc-examples is currently like this https://raw.githubusercontent.com/pymc-devs/pymc-examples/main/.github/PULL_REQUEST_TEMPLATE.md, the contributing guide is https://github.com/pymc-devs/pymc-examples/blob/main/CONTRIBUTING.md

[2021-06-21 07:41] martinacantaro opened #187 "Deprecate duplicate or obsolete notebooks"
Notebooks that cover the same concepts are considered duplicates.

[2021-06-21 07:48] OriolAbril commented on #186
I would try to continue enforcing the contributing guide, and have PRs link to an issue (which could be about a missing notebook), otherwise it can be frustrating for contributors to start a notebook and submit a PR after significant work only to have it rejected

[2021-06-27 05:48] ricardoV94 commented on #11
Closing this one. I think this issue is no longer relevant following the use of RandomVariables in V4

[2021-07-07 09:42] MarcoGorelli opened #193 "cox_model.ipynb doesn't have formatting run on it (double fmt: off)"
**Notebook title**: cox_model.ipynb
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/survival_analysis/cox_model.ipynb

## Issue description

Cell 4 starts with
[code]
and ends with
[code]

The latter should be
[code]

*Note that this issue tracker is about the contents in the notebooks, if
the notebook is instead triggering a bug or error in pymc3, please
report to

[2021-07-07 11:19] OriolAbril commented on #193
related to #127 (please tag both issues or only #127 in the PR)

[2021-07-07 12:00] MarcoGorelli commented on #193
Ah, understood, thanks!

[2021-07-19 06:42] ltoniazzi commented on #140
Can I be assigned this issue?

[2021-07-22 13:41] twiecki commented on #82
This is also using the deprecated `glm` submodule which we should remove and implement a logistic regression directly.

[2021-07-22 17:00] chiral-carbon commented on #82
hey! can I take this up?

[2021-07-22 17:18] twiecki commented on #82
Totally, thanks for offering to help.

On Thu, Jul 22, 2021, 19:00 Abhipsha Das ***@***.***> wrote:

[2021-07-27 17:41] chiral-carbon commented on #84
Hi! I was thinking of taking this notebook up next! should I go ahead and assign myself?

[2021-07-27 17:42] chiral-carbon commented on #89
Can I take this issue up?

[2021-07-27 17:46] OriolAbril commented on #84
Yes, feel free to self assign to unclaimed issues :)

[2021-07-31 11:22] #186 closed

[2021-07-31 11:24] OriolAbril opened #198 "Standardize authorship attribution"
Right now it's not clear how authors of examples should claim authorship so they can get proper credit. There are several alternatives around:
* Table with version history: https://oriolabril.github.io/pymc3/pymc-examples/examples/generalized_linear_models/GLM-robust-with-outlier-detection.html?highlight=author#notes
* Authors on top of the blogpost: https://oriolabril.github.io/pymc3/pymc-example

[2021-07-31 11:34] OriolAbril opened #199 "Guidance on writing: person, passive/active voice..."
Is there a preferred way to address users? Especially for tutorials where we want to give instructions to the reader. Guidance on commenting and explaining code: explanation in markdown above the code cell? below? general explanation in markdown only and implementation details as comments within the code? glossary terms, how do we know if a term should be explained in the notebook or in the gossar

[2021-07-31 11:37] OriolAbril opened #200 "Guidance/standardization of "front matter""
I remember at some point discussing the possibility to in addition to the tags and categories that will already give an idea of the notebook topics and difficulty, we could define some kind of standard front matter so that all notebook have a quick explanation about what knowledge is assumed, links to notebooks that explain those concepts that are treated as known by the reader..

[2021-08-02 15:40] chiral-carbon commented on #88
Hi! I'm taking this issue up.

[2021-08-02 16:19] chiral-carbon commented on #85
Will be working on this.

[2021-08-04 14:43] OriolAbril opened #203 "Standardize format for references and quotations"
With myst we could now use https://sphinxcontrib-bibtex.readthedocs.io/en/latest/index.html like jupyterbook uses. It allows a centralized bibtex file with all the references with rendered bibliography showing only the papers cited on the current notebook (see https://jupyterbook.org/content/citations.html#local-bibliographies).

cc @martinacantaro

[2021-08-04 19:05] chiral-carbon commented on #199
adding onto this, if the author wants to discuss their approach, thought process or opinions on using certain libraries in the description markdown cells, should there be a guideline for that?

the notebook [GLM out-of-sample predictions](https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb) specifically made me ask this.

it d

[2021-08-04 19:08] chiral-carbon commented on #199
adding onto this, if the author wants to discuss their approach, thought process or opinions on using certain libraries in the description markdown cells, should there be a guideline for that?

the notebook [GLM out-of-sample predictions](https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-out-of-sample-predictions.ipynb) specifically made me ask this.

it d

[2021-08-08 11:02] chiral-carbon commented on #53
taking up this issue.

[2021-08-10 21:14] chiral-carbon commented on #103
taking this issue up

[2021-08-11 08:00] chiral-carbon commented on #103
@OriolAbril I was looking at this and #102 and as asked in issue #32, should we try to combine this notebook with [gaussian mixture model](https://github.com/pymc-devs/pymc-examples/issues/32) notebook?

[2021-08-11 19:28] chiral-carbon commented on #32
okay I'll just update both to best practices for now and keep the combining part for later.

[2021-08-13 14:09] chiral-carbon commented on #90
can I take this up?

[2021-08-13 14:26] drbenvincent commented on #90
This is now done here in a notebook that has been merged https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-truncated-censored-regression.ipynb
 I think we can close this issue now?

[2021-08-13 15:10] twiecki opened #209 "Update usage of pm.Bound for v4"
https://github.com/pymc-devs/pymc3/pull/4815 changed how the `pm.Bound` API works, we need to find all instances where we use it and fix them.

[2021-08-13 16:32] OriolAbril commented on #90
Please do not close any `tracker id` issue yet :pray: , I created an issue per notebook and try to keep them up to date so we can easily see where we stand by looking at https://github.com/pymc-devs/pymc-examples/projects/1. I described this approach in the [contributing guide](https://github.com/pymc-devs/pymc-examples/blob/main/CONTRIBUTING.md#about-the-notebook-tracker-project). We can start cl

[2021-08-14 10:43] chiral-carbon commented on #100
will be working on this issue.

[2021-08-14 10:46] chiral-carbon commented on #99
this notebook is updated except for a minor thing in the beginning where it does not use `numpy Generator` instead of `numpy.random`. can I open a PR for this?

[2021-08-14 10:48] chiral-carbon commented on #101
can I work on this, since the previous PR only made metadata changes?

[2021-08-16 07:57] OriolAbril commented on #99
It should also add the posterior predictive samples to the InferenceData and update the plotting in the last cell. `low, high = np.percentile(pp_trace["obs"], [2.5, 97.5], axis=0)` for example could use xarray and specify which dimensions are reduced explicitly.

Note that unlike most notebooks, this one is not uncategorized within the notebook tracker project but it's triaged to the "to do" indic

[2021-08-16 07:59] OriolAbril commented on #101
Yes,  it still needs to be updated. I only fixed the metadata because it was broken and was blocking the switch from nbsphinx to myst-nb

[2021-08-16 23:36] martinacantaro commented on #203
I'm for it. How should we proceed in order to activate bibtex?

[2021-08-17 23:47] mjhajharia commented on #56
I was working on hierarchical partial pooling last week for a talk proposal!! assigning myself if that's okay

[2021-08-17 23:48] mjhajharia commented on #91
@OriolAbril are there things left to do in this notebook? (just saw that this issue still has `help wanted`)

[2021-08-18 10:02] chiral-carbon commented on #131
taking this up.

[2021-08-18 15:12] OriolAbril commented on #91
I think now it's only missing the v4 update once it's released, I see I moved the issue to "best practices" but forgot to remove the help wanted label

[2021-08-23 13:01] OriolAbril commented on #56
That would be great. The only change I had in mind however relies on ArviZ>0.11.2 which I think should be released any day now that gsoc is over? cc @canyon289 was also the release manager here

[2021-08-23 13:48] canyon289 commented on #56
@mjhajharia Assigning yourself is great. Well probably release arviz before youre done with your talk but thats fine, were going to release it after youre done with your talk too

[2021-08-30 09:26] OriolAbril commented on #88
Needs changing `pm.plot_posterior_predictive_glm` to `az.plot_lm` once next ArviZ version is released

[2021-08-30 10:37] OriolAbril opened #213 "GLM simpson paradox"
File: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-simpsons-paradox.ipynb
Reviewers: drbenvincent

[2021-08-30 10:41] OriolAbril commented on #71
Still needs some ArviZ related updates roughly listed on #144

[2021-08-30 10:49] OriolAbril opened #214 "GLM binomial regression"
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-binomial-regression.ipynb

[2021-08-30 10:50] OriolAbril commented on #214
It could have a couple nits related to ArviZ and xarray updated but it is basically best practices, classifying as general updates mostly for completeness

[2021-08-30 10:58] OriolAbril opened #215 "air passengers prophet"
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/time_series/Air_passengers-Prophet_with_Bayesian_workflow.ipynb
reviewer: @MarcoGorelli

[2021-08-30 11:02] OriolAbril commented on #215
the versions between the first cell printout and the watermark don't match. It should be reexecuted to fix that. I think this is due to the `v4` branch having `3.11.1` as version in the init for quite a while and that the notebook was executed all at once sequentially on v4, but it will probably be very confusing to readers.

[2021-08-30 11:10] twiecki opened #216 "Hierarchical NB has missing images"
https://docs.pymc.io/pymc-examples/examples/generalized_linear_models/GLM-hierarchical.html

Missing are the images of the hierarchical model that @fonnesbeck created. Not sure if he has an updated link.

[2021-08-30 13:29] OriolAbril opened #217 "item response NBA"
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/item_response_nba.ipynb
Reviewer: ltoniazzi

[2021-08-30 16:57] #42 closed

[2021-08-30 16:57] #14 closed

[2021-08-30 19:47] Sayam753 commented on #200
Cross posting from slack -
We need to also standardise on how to handle external dependencies for notebooks. A simple idea is to do a `pip/conda install` at the start of notebooks.

[2021-09-01 09:26] #203 closed

[2021-09-02 07:56] chiral-carbon commented on #137
can I take this up? I'm not able to self-assign due to maybe some change in permissions.

[2021-09-02 07:57] chiral-carbon commented on #134
taking this up.

[2021-09-02 07:58] chiral-carbon commented on #130
will be taking this up if that's alright

[2021-09-02 10:13] ferrine commented on #137
It might not work on pymc master branch, there are technical issues with upgrade

[2021-09-02 16:18] Sayam753 commented on #137
Hi @ferrine . Right now, the idea is to update notebooks to run on `v3.11.2` and follow [Best Practices Guide](https://github.com/pymc-devs/pymc-examples/wiki/Notebook-updates-overview), not on main/v4.

[2021-09-06 03:58] martinacantaro opened #222 "Add definitions of common terms to the Glossary"
**Goal**
Building a useful Glossary with definitions of common terms, that can be linked to from the documents.

**How to contribute**
 1. Pick a term from the list below, excluding those labeled `in progress` (those have already been picked)
 2. Comment this issue to inform us that you are working on it.
 3. Make a PR editing the [docs/source/glossary.md](https://github.com/pymc-devs/pymc3/tree/m

[2021-09-06 08:55] Guneetconvent2002 commented on #222
This is my first time contributing to something open-source and I have this question that one might find really silly but I really have that problem. I am not able to find any directory named docs in this repository. Could you maybe help me?? Or do I have to make a directory named docs?

[2021-09-06 09:05] Sayam753 commented on #222
This docs directory is in pymc3 repo. Find the directory [here](https://github.com/pymc-devs/pymc3/tree/main/docs).

[2021-09-06 09:47] Guneetconvent2002 commented on #222
Okay, I'll start working on it

[2021-09-06 13:31] martinacantaro commented on #222
Hi! Thank you for contributing @Guneetconvent2002 ! I hope your first open source contribution goes really well, let us know if you need any assistance.

I updated the description to add the details you pointed out.

"In progress" means somebody is already working on that definition, so pick any of the others!

[2021-09-06 13:33] OriolAbril commented on #222
@Guneetconvent2002 In progress means someone is already working on that term. I'd recommend choosing 2-3 terms,  commenting here which and then open a pr to pymc3 with the definitions.

You can use https://github.com/pymc-devs/pymc3/pull/4984 as an example of pr adding definitions to the glossary.

@everyone this is also related to https://github.com/pymc-devs/pymc3/issues/4899 so we should probab

[2021-09-06 14:11] Guneetconvent2002 commented on #222
I'll be doing Equidispersion, Generalized poisson pmf, Bayes' theorem, Markov Chain (MC) and Markov Chain Monte Carlo (MCMC)

[2021-09-06 14:56] martinacantaro commented on #222
Awesome! Updated them as "in progress"

[2021-09-07 07:19] Guneetconvent2002 commented on #222
I have made a PR please have a look

[2021-09-09 16:17] MarcoGorelli commented on #193
no longer necessary, as `black`'s built-in notebook support runs cell-by-cell

[2021-09-09 16:17] #193 closed

[2021-09-09 22:34] OriolAbril commented on #198
I propose to use option 3 with bullet points, like in https://pymc-examples.readthedocs.io/en/latest/survival_analysis/bayes_param_survival_pymc3.html. I think the dates are not necessary but don't hurt either. I propose to use the following categories:

* Alice **wrote**: for notebooks created specifically for pymc-examples
* Alice **adapted** Bob's blogpost: for notebooks adapted from blogposts.

[2021-09-09 22:51] OriolAbril commented on #200
"frontmatter" proposal:

[code]

[2021-09-13 19:01] OriolAbril commented on #200
We could also use substitutions to keep the extra content in the notebooks to a minimum: https://myst-parser.readthedocs.io/en/latest/syntax/optional.html#substitutions-with-jinja2

[2021-09-15 13:03] martinacantaro commented on #222
Hi! Following @OriolAbril's suggestion, I'm closing this issue and moving it to https://github.com/pymc-devs/pymc3/issues/4899

@Guneetconvent2002, I left some comments on [your PR](https://github.com/pymc-devs/pymc3/pull/4986)

[2021-09-15 13:03] #222 closed

[2021-09-15 17:01] chiral-carbon commented on #135
taking this up

[2021-09-16 06:14] chiral-carbon commented on #135
oops! forgot to self-assign

[2021-09-23 20:06] chiral-carbon commented on #132
taking this up

[2021-09-23 20:07] chiral-carbon commented on #133
self-assigning this issue, will be working on this

[2021-09-23 20:08] chiral-carbon commented on #136
taking this up

[2021-09-26 14:22] jhrcook opened #230 "Spline example"
# Notebook proposal
**Title**: Spline example

## Why should this notebook be added to pymc-examples?
There are no example notebooks for modeling a spline. I have a good example that I have linked to previously on the PyMC3 discourse and it has had a good reception.

## Related notebooks
I do not see any other spline example notebooks so I believe this would be a new notebook.

# References
I have

[2021-09-26 17:31] canyon289 commented on #230
Hi Josh! This sounds like a great idea. Converting your blog post into a notebook and adding it to the examples would be a fantastic contribution

[2021-10-02 20:40] jhrcook commented on #230
In my example, I use the cherry blossom data from Statistical Rethinking. Should I use a link to the file on McElreath's repository or download the data and add it to the "examples/data/" directory in this repository and using the `try: ... except: ...` pattern described in the style guide?

[2021-10-02 21:03] canyon289 commented on #230
Download the data and put it in the example repo.
Be sure to give give credit somewhere to Richard

As for the try except I cant recall the style guide but dont let that stop you. Id say put up the PR and we can help you from there

[2021-10-02 21:13] jhrcook commented on #230
Thank you for the quick response. I am referencing [this](https://github.com/pymc-devs/pymc/wiki/PyMC3-Jupyter-Notebook-Style-Guide#reading-from-file) suggestion in the style guide where the following pattern is recommended:

[code]

I’ll go ahead and implement it because the cherry blossom data will be in the “examples/data/” directory.

[2021-10-02 21:53] canyon289 commented on #230
Ah yes please do that. Thank you for reading the style guide

[2021-10-03 20:01] #230 closed

[2021-10-03 20:04] OriolAbril opened #234 "Splines in PyMC"
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/splines/spline.ipynb
reviewer: jhrcook

[2021-10-03 20:08] OriolAbril commented on #234
The notebook needs to be updated to follow the [style guide](https://github.com/pymc-devs/pymc/wiki/PyMC-Jupyter-Notebook-Style-Guide). All notebooks **must** have a post directive in their first cell.

Ideally it would also use matplotlib directly instead of plotnine to reduce the dependencies on external libraries

[2021-10-03 20:11] OriolAbril opened #235 "Show tags and categories within notebook posts"
Currently tags and categories are seen when searching for a notebook (i.e. from [tag pages](https://pymc-examples.readthedocs.io/en/latest/blog/tag/pymc3model.html)), but not once the notebook is [open](https://pymc-examples.readthedocs.io/en/latest/time_series/MvGaussianRandomWalk_demo.html). Might be natively supported by [ablog](https://ablog.readthedocs.io/en/latest/)

[2021-10-03 20:15] OriolAbril opened #236 "Port NBs from PyMC3 to PyMC"
**URGENT**: Update all references to the style guide. The style guide has been renamed so the link now needs to be updated from all the places where it used to be present as they are now broken. For example the one in https://github.com/pymc-devs/pymc-examples/blob/main/CONTRIBUTING.md#pull-request-checklist

Change all occurrences of PyMC3 to PyMC. **IMPORTANT** The change should happen as the no

[2021-10-18 09:52] JohnGoertz opened #242 ""Bad" SMC example doesn't actually "fail spectacularly""
**Sequential Monte Carlo**:
**https://docs.pymc.io/en/stable/pymc-examples/examples/samplers/SMC2_gaussians.html**:

## Issue description
Ironically, this issue is about something working better than expected. The SMC example notebook has a [Kill your darlings](https://docs.pymc.io/en/stable/pymc-examples/examples/samplers/SMC2_gaussians.html#Kill-your-darlings) section intended to demonstrate how

[2021-10-18 13:19] JohnGoertz commented on #242
That's really interesting that there's such a big difference between the two. Perhaps the notebook should be updated at that point to indicate that switching from the (then-default) Metropolis to Independent-Metropolis can recover performance, and maybe a brief discussion as to when one would be preferable over the other?

[2021-10-19 05:40] ricardoV94 commented on #242
The thing is that the old method was completely removed in V3

[2021-10-19 06:57] aloctavodia commented on #242
Hi @JohnGoertz thanks for reporting this issue. Maybe the PyMC motto should be "better than expected", haha. Joking aside, I have updated the notebook example.

So far in our experiments we have not found an example where the Metropolis kernel performs better than the Independent-Metropolis Kernel. The main reason to re-introduce the Metropolis kernel in PyMC (version 4) was to make it easier to r

[2021-10-22 21:38] OriolAbril opened #244 "Make (some) notebooks executable without needing to sample"
#239 will set up badges to open the example notebooks on github, binder or colab. Colab should be able to run most if not all notebooks without too much trouble, but binder is more restrictive when it comes to available resources. It would be amazing if we could get in an automated or semi automated way publish the inferencedatas of some notebooks (maybe the more popular ones) so that they can be

[2021-10-24 04:38] #242 closed, assigned to nobody

[2021-10-30 22:13] martinacantaro opened #245 "Rename PyMC3 to PyMC in the issue templates"
In the pymc repo, the chosen solution was using PyMC/PyMC3, as in:

`Inform about bugs in the PyMC/PyMC3 library`

Current descriptions:

![Screen Shot 2021-10-30 at 19 11 00](https://user-images.githubusercontent.com/6120897/139559719-d6942360-c4b1-4d14-82af-33f01fea7420.png)

[2021-11-01 04:32] farhanreynaldo commented on #107
Hi , @OriolAbril. I would like to work on this issue, is it available for PR?

[2021-11-04 12:41] OriolAbril commented on #107
Hi, sorry for the late reply, it is available but being a high impact notebook, it will probably have timing constraints to update it along with our upcoming 4.beta version. This means we might ask for faster updates and changes and/or take over and finish the update ourselves. Let me know if this sounds ok or you'd prefer to work at your own pace on a different notebook

[2021-11-05 02:25] farhanreynaldo commented on #107
That's understandable, I think I would like to work on a different notebook at my own pace.

[2021-11-05 03:25] farhanreynaldo commented on #47
Hi @OriolAbril, does this issue also have a time constraint? If not, I would like to work on this issue.

[2021-11-05 04:02] OriolAbril commented on #47
This one also has the high impact label, but needs very little changes. Only re executing it with latest pymc and arviz and some cosmetic changes to follow the style guide: https://github.com/pymc-devs/pymc/wiki/PyMC-Jupyter-Notebook-Style-Guide

[2021-11-05 04:09] farhanreynaldo commented on #47
Ah sure, may I assign myself on this issue? I will try my best to make the PR as soon as possible.

[2021-11-10 07:00] farhanreynaldo opened #247 "Typo in GLM hierarchical binomial model"
**Notebook title**: GLM hierarchical binomial model
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-hierarchical-binominal-model.ipynb

## Issue description

I found several minor errors in the notebook, listed as follows:

* In the notebook title and its filename, is the word `binominal` instead of `binomial` chosen by intention?
* I f

[2021-11-10 15:31] OriolAbril commented on #247
sounds great, can you also make sure it follows the style guide?

[2021-11-11 03:22] farhanreynaldo commented on #247
Sure, I will make the PR.

[2021-11-12 15:37] OriolAbril commented on #200
idea (needs to be tested): provide some templates for installation instructions, could have a paragraph of intro, be inside a dropdown, have tabs within the dropdown for pip/conda installs... but leave the packages to be installed as jinja substitutions. We can then add notebook metadata to define the substitutions, see https://myst-parser.readthedocs.io/en/latest/syntax/optional.html#substitution

[2021-11-13 15:31] michaelosthege commented on #234
The notebook should also mention the `SplineWrapper` and explain the difference to the spline built in the notebook.
https://github.com/pymc-devs/pymc/blob/073e26b9c650ff9ae851ab9904cb3ad9c905a643/pymc/distributions/dist_math.py#L316-L319

[2021-11-13 16:59] #198 closed

[2021-11-13 16:59] #235 closed

[2021-11-13 16:59] #245 closed

[2021-11-23 13:20] twiecki opened #250 "Add Probabilistic PCA example (code already exists)"
I coded this up a while ago, pretty simple model but I think it's an interesting (and commonly referred to) model: https://gist.github.com/twiecki/713cf58f5fa37332d0cda48a7c798016

Probably just needs some more text and explanation.

[2021-11-23 14:54] drbenvincent commented on #250
Would be good to show with 2 factors, and also one with non-orthogonal factors to show limits of PCA and motivation for ICA perhaps.

[2021-12-05 01:37] ltoniazzi commented on #169
I am happy to update this notebook to follow the [new style-guide](https://docs.pymc.io/en/latest/contributing/jupyter_style.html), but I can only run it on cpu, and it takes 26hours instead of the 7hours in @JohnGoertz current version. Is that a problem? Could a solution be that once I'm finished someone re-runs it on gpu?

[2021-12-05 08:51] JohnGoertz commented on #169
I have access to a cluster, I can chuck it up there after you update it. I think I just ran that on my laptop (Surface Pro i7) cpu, I'm surprised it takes that much longer on your computer.

I'd also like to add in a section on _parametric_ heteroskedasticity following [this discussion](https://discourse.pymc.io/t/heteroskedastic-marginal-likelihood-gp/8359/3?u=biogoertz). I can do that after you

[2021-12-15 22:08] waudinio27 opened #254 "extension with plot_ts for timeseries"
# Notebook proposal
**Title**: Extension for timeseries notebooks to plot_ts for out of sample predictions

## Why should this notebook be added to pymc-examples?
Because up to now all the notebooks related to timeseries only show how to fit the model and not how to make predictions after this. An idea to do so is the plot_ts function from arviz. This would help normal users like me a lot.

## Rel

[2021-12-16 11:23] twiecki opened #256 "Rolling regression uses glm submodule, can easily be fixed"
**Notebook title**:Rolling Regression
**Notebook url**: https://docs.pymc.io/en/v3/pymc-examples/examples/generalized_linear_models/GLM-rolling-regression.html

## Issue description
It's currently using the glm submodule for the linear model, this can easily be changed to just use a direct implementation.

[2021-12-16 12:04] OriolAbril commented on #256
This has been updated already: https://docs.pymc.io/projects/examples/en/latest/generalized_linear_models/GLM-rolling-regression.html?highlight=Rolling%20regression. That link is not updated because it is the v3 documentation

[2021-12-16 12:04] #256 closed

[2021-12-20 18:22] OriolAbril opened #258 "How to ask a question on discourse notebook"
# Notebook proposal
**Title**: How to ask a question on discourse

## Why should this notebook be added to pymc-examples?
Many questions on discourse have non reproducible examples, way too wide scopes and/or very basic formatting issues that make answering much harder. I think it would be very useful to have a notebook like this, not sure if here or on pymc repo.

cc @martinacantaro

## Related n

[2022-01-04 13:32] ricardoV94 opened #261 "Make use of new pm.Censored in notebooks about censored data"
**Notebook title**:
* Censored Data Models
* Bayesian regression with truncated or censored data

**Notebook url**:
* https://docs.pymc.io/en/v3/pymc-examples/examples/survival_analysis/censored_data.html
* https://docs.pymc.io/en/v3/pymc-examples/examples/generalized_linear_models/GLM-truncated-censored-regression.html

## Issue description
After https://github.com/pymc-devs/pymc/pull/5169 we wil

[2022-01-04 14:00] OriolAbril commented on #261
Cc @drbenvincent

[2022-01-05 21:01] drbenvincent commented on #261
Happy for you to assign this to me @OriolAbril

[2022-01-05 22:05] cluhmann commented on #258
I like the idea of having a place to point discourse users who are asking questions in less-than-optimal ways.  I'm not sure it belongs in the examples (but it might).  [This](https://stackoverflow.com/help/how-to-ask) is my "go to" description of how to ask programming-related questions.  That page also links to [this blog post](https://codeblog.jonskeet.uk/2010/08/29/writing-the-perfect-question

[2022-01-06 04:04] twiecki commented on #258
Agree with @cluhmann that it's useful but probably not in examples.

[2022-01-07 14:05] asuagar commented on #52
Hello @OriolAbril! I would like to try to update this notebook to PyMC 4. I have done BEST before using NumPyro. I have a dumb question about the graphical representation. Can it be used seaborn or other one?

[2022-01-07 14:44] OriolAbril commented on #52
Assigned it to you @asuagar, thanks for helping out!

Other libraries can be used for plotting, in many cases ArviZ is not the right tool for the job. i.e. ArviZ is designed to explore bayesian model results, so preliminary exploratory analysis should generally use something else, then use ArviZ afterwards to analyze the posterior. Was that the question?

[2022-01-07 18:02] asuagar commented on #52
Yes, it was. It is now clear to me. After reading several notebooks, I thought that there was some kind of limitation to Matplotlib for exploratory data analysis. Thank you by your fast reply.

[2022-01-09 02:49] cluhmann commented on #258
We might consider combining this with an updated (and revised) version of the [FAQ](https://discourse.pymc.io/t/frequently-asked-questions/74) @junpenglao created on discourse.  Most of those answers were written quite a while ago (e.g., pre-v3.5?) and the answers will only continue to age.

[2022-01-09 04:27] OriolAbril commented on #258
updating the faqs is a great idea (I am always partial towards having it on the documentation where everyone can contribute to and we have more style and formatting options, but anywhere would be fine). But I would keep the two things independent, and add a check on the how to ask about "going over the faq to avoid duplication" linking to the faq page

[2022-01-09 23:26] OriolAbril opened #268 "black box external likelihood (numpy)"
Notebook url: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/blackbox_external_likelihood_numpy.ipynb
reviewer: oriolabril

[2022-01-10 01:12] OriolAbril opened #270 "binning notebook"
Notebook url: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/binning.ipynb
reviewer: drbenvincent, ericmjl

[2022-01-14 22:14] ricardoV94 opened #272 "Reinforcement Learning Model for behavioral data"
# Notebook proposal
**Title**: Reinforcement Learning Model for behavioral data

## Why should this notebook be added to pymc-examples?

I wrote this notebook some time ago: https://github.com/ricardoV94/stats/blob/master/modelling/RL_PyMC.ipynb and shared it on the Discourse, where it seems to have been quite popular: https://discourse.pymc.io/t/fitting-a-simple-reinforcement-learning-model-to-be

[2022-01-28 18:36] #261 closed

[2022-01-28 18:37] #90 closed

[2022-01-28 18:38] #52 closed

[2022-01-29 11:05] ltoniazzi commented on #110
Can I be assigned this?

[2022-01-29 12:25] OriolAbril commented on #110
Yes! Thanks for taking this up.

Note: I am not assigning you because you should have permissions to do it yourself and want to check that is really the case. Can you assign yourself?

[2022-01-30 21:35] fonnesbeck opened #275 "Merge Cox survival example with Bayesian survival analysis example"
While the Cox survival notebook is a nice example of a ported BUGS model, there is no supporting documentation in the notebook. Moreover, there is already a Cox example in Austin's comprehensive Bayesian survival analysis notebook. I propose 3 alternatives:

1. Integrate the Cox example into the Bayesian survival analysis notebook
2. Turn the Cox example into a `.py` script
3. Flesh out the Cox no

[2022-02-01 14:42] OriolAbril commented on #275
I would also argue against option 2, python files are too hard to find and I think we should probably see which ones to move into notebooks and get rid of the others.

Given that the survival analysis notebook is already quite long, I'd like to propose a different option, splitting the notebook (in two or more) with a notebook being an [explanation](https://diataxis.fr/explanation/) about survival

[2022-02-02 17:36] cfonnesbeck commented on #275
We have several non-notebook examples already. One (not me) could argue that not everyone likes examples in notebook format. If we don't want additional python scripts, then I agree we should be converting/removing the existing ones.

There's nothing inherently wrong with a long notebook, particularly for a complicated topic like survival modeling. This is analogous to vignettes in the R world.  I

[2022-02-02 23:08] OriolAbril commented on #275
in my opinion, any python/jupyter differences are completely eclipsed by the fact that python scripts are not on the website. GitHub shows traffic for top pages for the last 14 days. The last page to make it today is the BART PR, with a total of 11 views (from 3 unique visitors only). No pyhton script makes the list. Given how we have things set up now, python script examples are as good as gone.

[2022-02-04 12:44] drbenvincent opened #277 "Analysing ordinal data in PyMC"
# Notebook proposal
**Title**: Analysing ordinal data in PyMC

## Why should this notebook be added to pymc-examples?
Ordinal outcome variables are common in many data analysis situations. Example measures include:
- BMI: underweight, normal, overweight, obese
- [Likert scale](https://en.wikipedia.org/wiki/Likert_scale) data, eg. strongly agree, agree, neutral, disagree, strongly disagree.

Often

[2022-02-08 18:15] drbenvincent commented on #214
Can this issue be closed now we have a v4 version?

[2022-02-08 18:16] drbenvincent commented on #171
This is on my list to update to v4

[2022-02-08 18:17] drbenvincent commented on #170
This is also on my list to update to v4

[2022-02-08 18:19] drbenvincent commented on #213
This is on my list to update to latest

[2022-02-08 18:58] OriolAbril commented on #214
yes, sorry I forgot to update the project and close the issue.

[2022-02-08 18:58] #214 closed

[2022-02-11 21:51] saiwing-yeung commented on #216
Same for https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/multilevel_modeling.ipynb
in the `## Multilevel and hierarchical models` cell.

[2022-02-21 03:19] muharrembb opened #284 "pymc4 Does not open on Jupyter notebook"
Hello,

I installed pymc4 as instructed from your git account. New pymc is working well when I open python on my terminal. However, when I open Jupiter notebook and try to import pymc, it gives an error. I uninstalled mini forge and all environment and reinstalled them again. However, still I am not able to use
 pymc by using jupyter notebook. Any advice?

![Screen Shot 2022-02-20 at 10 14 39 PM](

[2022-02-21 03:53] cfonnesbeck commented on #284
Hello, @muharrembb. Please open a discussion on our [Discourse page](https://discourse.pymc.io/) for help in setting up PyMC.

[2022-02-21 03:53] #284 closed

[2022-02-21 03:59] muharrembb commented on #284
Thanks! I will!

[2022-03-04 01:32] #110 closed

[2022-03-04 01:33] #171 closed

[2022-03-05 16:47] twiecki opened #286 "Add example on using BVAR model for economists"
# Notebook proposal
**Title**: BVAR model for economists

## Why should this notebook be added to pymc-examples?
Economists seem to like BVAR and are looking for this example as a starting point. They are also doing a lot of Bayesian modeling but rarely using PPLs.

[2022-03-08 21:43] OriolAbril opened #288 "Add a bot that comments reviewer checklist on new PRs"
It would be very cool to have a bot comment on all PRs when opened with a reviewer checklist, similar to what we have on the PR template but focused on what the reviewer needs to check before merging the PR. cc @fonnesbeck

[2022-03-09 03:23] OriolAbril opened #289 "Add (or automate a bit more) object index generation"
It doesn't make much sense to work on this until https://github.com/pymc-devs/pymc/issues/5282 is resolved. After that, given the objects are listed in the versioned docs and there is already a template on how to do is introduced by #276 it can be labeled as good first issue.

[2022-03-09 06:09] OriolAbril opened #292 "Add a pre-commit check to prevent urls pointing to pymc docs"
It should be the same as https://github.com/pymc-devs/pymc/pull/5486 but here in pymc-examples.

[2022-03-20 17:41] #170 closed

[2022-03-23 13:59] ricardoV94 opened #299 "Add new notebook showcasing how to (un)wrap a JAX Op in Aesara"
This has been requested a couple of times. It is in nature a bit similar to the Black-box likelihood, but applied to JAX graphs. It also demonstrates how to unwrap a wrapped Op so that the entire Aesara graph can be compiled to JAX.

I chose a cute Hidden HMM likelihood that makes use of scan and vmap. Here is a suggestion for a TOC:

![image](https://user-images.githubusercontent.com/28983449/159

[2022-03-24 02:10] canyon289 opened #300 "Update Cov and Means GP notebook"
**Notebook title**:Mean and Covariance Functions
**Notebook url**: https://docs.pymc.io/en/v3/pymc-examples/examples/gaussian_processes/GP-MeansAndCovs.html

## Issue description
The images require scrolling. Fixing up so they don't

## Expected output
Figures that don't require scrolling

## Proposed solution
Change Figure size

[2022-04-01 21:05] #213 closed

[2022-04-02 00:29] #50 closed

[2022-04-05 17:41] #49 closed

[2022-04-06 13:38] #55 closed

[2022-04-08 15:41] drbenvincent commented on #275
My thoughts...
- Propose deleting the Cox notebook completely. It would probably be harder for someone to flesh it out than create a Cox example from scratch.
- I like @OriolAbril's diataxis suggestion. But yes, this can take a lot of effort. So for now we maybe keep the Bayesian survival analysis notebook and evolve ourselves towards having a beginner's intro to survival modelling complimented wi

[2022-04-08 16:16] cfonnesbeck commented on #275
I think ditching it is the way to go, particularly since there is mention of the proportional hazards model at the end of the survival notebook.

[2022-04-09 11:30] drbenvincent commented on #275
I'm just starting on a PR to remove this...

[2022-04-09 19:27] drbenvincent opened #307 "improve pre-commit checks when example notebooks are removed"
When removing an example `.ipynb` file, the pre-commit checks do not check that the corresponding `myst.md` file has been deleted. Could add a check that there are no `myst.md` files without corresponding `.ipynb files.

[2022-04-09 21:32] drbenvincent commented on #275
Can potentially close this issue now and come back to further survival analysis notebooks in the future?

[2022-04-09 22:01] #275 closed

[2022-04-11 10:43] drbenvincent commented on #102
This could be updated to use new `pm.Mixture`

[2022-04-11 10:47] drbenvincent commented on #102
Any reason why the cluster means can't use `pymc.distributions.transforms.Ordered`?

[2022-04-11 11:40] drbenvincent commented on #102
Actually, anyone mind if I update this with `pm.NormalMixture`? We can get some significant simplification of this notebook.

[2022-04-11 17:14] OriolAbril commented on #102
That sounds amazing and things like that are the reason there is a `v4 (auto)` and a `Done` category in the [tracker project](https://github.com/pymc-devs/pymc-examples/projects/1) that are clearly separated. It wasn't the case, but this notebook might have run when changing `import pymc3` to `import pymc` and theano to aesara, but that a notebook runs on v4 doesn't mean it is updated to be _docum

[2022-04-11 17:30] drbenvincent commented on #102
Great. Will put in a PR soon.

[2022-04-11 21:22] OriolAbril commented on #307
pre-commit check also seems to pass if there are myst without associated ipynb examples

[2022-04-12 02:17] danhphan commented on #73
Hi @OriolAbril, I can work on this task.

Just want to confirm that the main tasks are upgrading the notebook into PyMC v4 and new ArviZ version right? Thanks

[2022-04-14 19:30] #299 closed

[2022-04-16 12:59] drbenvincent opened #313 "broken Twitter link on latest version of website/docs"
The link from the latest docs (https://docs.pymc.io/projects/examples/en/latest/) is to https://twitter.com/pymc-devs which does not work. It should be to https://twitter.com/pymc_devs.

[2022-04-16 13:05] drbenvincent opened #312 "add `*.DS_Store` to `.gitignore`"
Request that we add `*.DS_Store` to `.gitignore` to make life easier for those of us on Mac OS.

[2022-04-16 13:13] canyon289 commented on #312
go for it!

[2022-04-16 22:51] #127 closed

[2022-04-16 22:55] #313 closed

[2022-04-17 05:11] danhphan commented on #73
I re-run this notebook with the latest pymc version `4.0.0b6`.

There seems a problem in `pm.find_MAP`. The results of estimated parameters from **pymc v4** are:
[code]

While the expected (in **pymc 3.9.3**) should be:
[code]
Model fitting:
![bokeh_plot (1)](https://user-images.githubusercontent.com/25697956/163701306-81cd3021-9a60-44b7-8e8f-782fe9436474.png)

The wrong estimated params from find

[2022-04-17 05:14] danhphan commented on #73
There seems a similar issue at https://github.com/pymc-devs/pymc/issues/5443#issue-1122497334

[2022-04-17 06:11] ricardoV94 commented on #73
What happens withoit that `include_transformed` argument? And how are you printing the parameter values, I don't see any transformed variable names in the output of MAP that you printed. There would be a bunch of `_log__` suffixes

[2022-04-17 16:45] #312 closed

[2022-04-18 08:26] danhphan commented on #73
The same results when set `include_transformed=False`  or remove it in `pm.find_MAP()`
[code]
This code prints the variables:
[code]
Outputs:
[code]

May be you want to see all variables, so I print it all here:
[code]
Outputs:
[code]

[2022-04-18 08:38] danhphan commented on #73
Hi @OriolAbril, I have also re-run this notebook in `pymc3 v3.11.4`, and it works.

Is it okie if I do some General updates and ArviZ related things and make a PR to move this one to `Best practices (v3)` tag first.

[2022-04-18 11:13] drbenvincent commented on #102
Moving this in the notebook state tracker from 'todo' to 'done'. And closing issue

[2022-04-18 11:14] #102 closed

[2022-04-20 05:36] OriolAbril commented on #73
As long as notebooks move progressively towards the Done column all PRs will be welcome 😄

[2022-04-22 13:33] #292 closed

[2022-04-24 10:46] #217 closed

[2022-05-06 03:39] danhphan commented on #215
Hi @OriolAbril let me re-executed this notebook. Thanks

[2022-05-06 12:31] tomicapretto opened #318 "NormalMixture was not introduced in PyMC v4"
**Notebook title**: Gaussian Mixture Model
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/mixture_models/gaussian_mixture_model.ipynb

## Issue description

It says "Writing a Gaussian Mixture Model got significantly easier from PyMC 4.0.0b6 onwards with the introduction of pm.NormalMixture" but `pm.NormalMixture` was already available in PyMC3. See for example htt

[2022-05-06 12:32] tomicapretto commented on #318
@drbenvincent

[2022-05-07 23:55] OriolAbril commented on #234
Updated by https://github.com/pymc-devs/pymc-examples/pull/274, moving it to v4 auto to signal there are still changes needed on the metadata.

See https://github.com/pymc-devs/pymc-examples/pull/274#discussion_r867411416

[2022-05-09 23:37] #47 closed

[2022-05-21 10:49] drbenvincent commented on #286
@ricardoV94 has done this on the PyMC Labs website https://www.pymc-labs.io/blog-posts/bayesian-vector-autoregression/. Is this issue now irrelevant?

[2022-05-22 06:52] OriolAbril commented on #286
If this is something that we believe is useful and important for users to be part of the docs then we should adapt the notebook and include it to the collection here so it is discoverable by users (who will use the search bar, tags... and generally won't know about the pymc labs blog) and is kept updated as new versions of pymc are released (I assume the blog post won't be updated recurrently but

[2022-05-22 10:34] #318 closed

[2022-05-22 13:23] drbenvincent commented on #286
tagging @ricardoV94

[2022-05-22 13:55] twiecki commented on #286
Oh I got confused with the repos, should definitely add it here too.

[2022-05-23 14:05] ricardoV94 opened #325 "Update pymc-examples away from rng_seeder"
https://github.com/pymc-devs/pymc/pull/5787 will remove the `rng_seeder` API.

In exchange, it introduces the possibility of passing `RandomState` or `Generator` (e.g., created via `np.random.default_rng(seed)`) to all random sampling functions. This would probably be the easiest way to update the pymc-example notebooks. I think it is already a best practice to create a `rng` at the beggining no?

[2022-05-26 13:15] twiecki opened #327 "Implement nbsphinx gallery"
We would like to bring the NB gallery from v3 back

The old code was customly written, which makes maintenance harder.

`nbsphinx` allows to include NBs in sphinx and has a gallery feature that is described here: https://nbsphinx.readthedocs.io/en/0.8.8/subdir/gallery.html

[2022-05-26 14:34] canyon289 commented on #327
Hard agree, I actually dont think I would have ended up using PyMC or been Bayesian at all the notebook gallery.

The notebook gallery
* Clearly shows whats possible with images, not description
* Is a self contained narrative in each notebook
* Is runnable

There's nothing else quite like it

![image](https://user-images.githubusercontent.com/7213793/170509809-2e1df6d4-7e29-45d8-9a34-9db15f6f8086

[2022-05-26 14:50] OriolAbril commented on #327
We no longer use nbsphinx, so the key thing is seeing if it is possible to use it for generating the cards but not to render the notebooks so we can continue to use sphinx directives, cross-references... We are still using only the tip of the iceberg of all these new features, but I'd rather adapt the sphinx extension than renounce to cross-references and targets, figures with captions and alt tex

[2022-05-26 18:03] twiecki commented on #327
I got a good part of the way here: https://github.com/pymc-devs/pymc-examples/pull/328

[2022-05-30 09:41] twiecki opened #329 "Have consistent navbar across pages"
There are currently three websites:

* [pymc.io 2](http://pymc.io/) with announcements and blog: https://www.pymc.io/
* Docs: [PyMC Documentation — PyMC dev documentation 1](https://docs.pymc.io/en/latest/)
* Examples: [PyMC example gallery — PyMC documentation 2](https://docs.pymc.io/projects/examples/en/latest/index.html)

@OriolAbril had a great idea to make them all have the same navbar so tha

[2022-05-30 11:49] twiecki opened #331 "pre-commit fails with 404 for bibtex-tidy"
[code]

[2022-05-30 15:13] twiecki opened #333 "Port NBs that are already using best practices to v4"
There are quite a few NBs that are already using best practices here: https://github.com/pymc-devs/pymc-examples/projects/1#card-75796525 but are still not ported to 4.0.

These should be quite trivial to port to 4.0.

How?

Run the `scripts/rerun.py` script (https://github.com/pymc-devs/pymc-examples/blob/main/scripts/rerun.py) which attempts to auto-update the code and rerun the NB. If it runs w

[2022-05-30 16:58] drbenvincent commented on #86
I'm about to update this to v4

[2022-05-30 18:12] #331 closed

[2022-05-30 19:56] drbenvincent commented on #91
I will convert this to v4

[2022-05-30 20:46] drbenvincent commented on #81
Link to notebook broken. Does this notebook exist any more?

[2022-05-31 07:15] OriolAbril commented on #81
This was moved to https://docs.pymc.io/en/latest/learn/core_notebooks/GLM_linear.html. It has already been updated to v4 and is part of the subset being auto-executed every time we build docs

[2022-05-31 09:37] symeneses commented on #31
Is this issue still needed? The notebook mentioned is not in the `main` branch anymore.

[2022-05-31 10:59] twiecki commented on #31
Weird, it indeed seems to have gone. Couldn't find where it went either.

[2022-05-31 12:45] OriolAbril commented on #31
This is now the pymc overview notebook: https://docs.pymc.io/en/latest/learn/core_notebooks/pymc_overview.html. It has alrrady been ported to v4 and as part of the versioned docs it is executed automatically every time we build the docs. We forgot to close this issue though, doing it now

[2022-05-31 12:45] #31 closed

[2022-05-31 15:14] #327 closed

[2022-05-31 16:36] OriolAbril commented on #69
yet nother "core notebook", now in https://docs.pymc.io/en/latest/learn/core_notebooks/posterior_predictive.html

[2022-05-31 16:37] OriolAbril commented on #68
now in https://docs.pymc.io/en/latest/learn/core_notebooks/model_comparison.html

[2022-05-31 16:37] #68 closed

[2022-05-31 20:45] drbenvincent commented on #82
I can update this to v4

[2022-05-31 21:58] drbenvincent commented on #82
@OriolAbril / @twiecki
I've started to port this, but noticed that it overlaps _a lot_ with an official Bambi example (see https://bambinos.github.io/bambi/main/notebooks/model_comparison.html)

I will definitely link to that, but I'm wondering if this notebook is essentially redundant?

Let me know if we should kill this or just continue to port what is there.

[2022-05-31 22:13] cfonnesbeck commented on #82
I vote in favor of removing. We should take advantage of any opportunity to reduce the size of the example library.

[2022-05-31 22:16] aloctavodia commented on #82
Agreed. Is there a place in PyMC were we redirect/point to bambi for GLMs?

[2022-05-31 22:22] drbenvincent commented on #82
Ok. Will submit PR to remove this

Some of the GLM notebooks do hand coded PyMC models. Some include Bambi only. Some contain a mix.

If we were going to move towards being consistent, my preference would be to focus on hand coded PyMC models but with linking to Bambi and possibly including non-executed Bambi code in markdown cells.

Why? I think it makes sense to avoid creating a dependency upon

[2022-05-31 22:32] twiecki commented on #82
Closed via #345.

[2022-05-31 22:32] #82 closed

[2022-05-31 22:45] #46 closed

[2022-05-31 23:11] aloctavodia commented on #82
Totally agree about focusing on hand coded model here even more we could  have the handcoded version here and the formula version in bambi doc and mutually crossrefrence notebooks.

[2022-06-01 07:29] twiecki opened #346 "Thumbnails in gallery not working"
https://github.com/pymc-devs/pymc-examples/pull/340 should have fixed it, but on https://www.pymc.io/projects/examples/en/latest/gallery.html thumbnails are not showing up. Although it is working locally.

[2022-06-01 07:34] twiecki commented on #346
It seems like the thumbnail generator script isn't called.

[2022-06-01 10:11] #346 closed

[2022-06-01 11:08] drbenvincent opened #348 "Replacement logistic regression notebook"
We recently decided to remove a logistic regression notebook https://github.com/pymc-devs/pymc-examples/issues/82 because it had very high overlap with a Bambi example (https://bambinos.github.io/bambi/main/notebooks/model_comparison.html) and _only_ had the Bambi code.

There is obviously still scope for a logistic regression notebook, but in line with comment by @aloctavodia (https://github.com/

[2022-06-01 11:44] twiecki commented on #91
Agree that we should remove it.

[2022-06-01 11:56] drbenvincent commented on #91
Done. Feel free to approve here https://github.com/pymc-devs/pymc-examples/pull/336

[2022-06-01 12:29] drbenvincent opened #349 "Bayesian hypothesis testing using the Savage–Dickey method"
# Notebook proposal
**Title**: Bayesian hypothesis testing using the Savage–Dickey method

## Why should this notebook be added to pymc-examples?
We currently have _nothing_ on Bayesian hypothesis testing. I propose providing a brief explainer / how-to notebook on doing this. The most obvious thing to do is to present some or all of the core examples from Wagenmakers et al (2010).

Suggested categ

[2022-06-01 12:42] drbenvincent commented on #200
Is this issue now defunct/solved given we have the [Style Guide](https://docs.pymc.io/en/latest/contributing/jupyter_style.html)?

[2022-06-01 15:18] twiecki commented on #329
This is mostly done with https://github.com/pymc-devs/pymc-examples/pull/344 and https://github.com/pymc-devs/pymc/pull/5830

[2022-06-01 15:18] #329 closed

[2022-06-01 20:53] #126 closed

[2022-06-01 21:54] #89 closed

[2022-06-01 22:08] drbenvincent opened #353 "Gallery page is missing howtos, tutorials, and deep-dives"
As far as I can tell, none of the notebooks in [`examples/pymc3_howto`](https://github.com/pymc-devs/pymc-examples/tree/main/examples/pymc3_howto) folder are currently included/rendered in the examples page https://www.pymc.io/projects/examples/en/latest/gallery.html. They _are_ there when looking for them via the tags, but they are not rendered on the gallery page.

[2022-06-01 22:11] twiecki commented on #353
Yeah, just need to add them, it's quite simple.

[2022-06-02 19:45] #353 closed

[2022-06-03 12:19] cuchoi commented on #61
Working on this one

[2022-06-03 13:15] #215 closed

[2022-06-03 13:29] cuchoi commented on #270
Working on this one

[2022-06-03 13:31] #61 closed

[2022-06-03 14:17] aloctavodia commented on #65
Fixed by  #342

[2022-06-03 14:17] #65 closed

[2022-06-03 14:18] aloctavodia commented on #123
Fixed by #334

[2022-06-03 14:20] aloctavodia commented on #124
Fixed by #334

[2022-06-03 14:20] #124 closed

[2022-06-03 17:57] cluhmann commented on #107
Closed by https://github.com/pymc-devs/pymc-examples/pull/364?  Sorry I forgot to associate this issue in the PR.

[2022-06-03 18:04] #107 closed

[2022-06-04 14:45] cuchoi commented on #172
@OriolAbril it seems that this issue should be moved to v4 after #351 ?

[2022-06-04 19:18] OriolAbril commented on #172
Yep, moved it to v4 auto. It is using v4 (I can't judge if already using best practices and taking advantage of all improvements) but it is definitely not following book style so we need to keep the issue open

[2022-06-05 03:39] cuchoi commented on #128
Can I take this one to update It to v4?

[2022-06-05 13:29] drbenvincent commented on #85
I'll port this to v4

[2022-06-06 21:58] OriolAbril commented on #128
reopening to place in v4 branch as it still needs style updates

[2022-06-07 13:39] #85 closed

[2022-06-07 14:30] drbenvincent commented on #67
Suggest that this notebooks gets some degree of data viz for each of the models as well as the weighted model average

[2022-06-10 12:30] drbenvincent opened #374 "Remove `pymc.*` and `pymc3.*` tags from left bar on website"
Do we have agreement that removing these tags from the left of the site is a good idea?
<img width="341" alt="Screenshot 2022-06-10 at 13 27 30" src="https://user-images.githubusercontent.com/6765047/173063995-b910e27d-b6f8-404d-ba02-8140eb1ad929.png">

If so, would that be done with a PR which manually removes all such tags from all example notebooks? Or would it be done by some clever filtering

[2022-06-10 13:30] OriolAbril commented on #374
Yes, they all need to be removed. I am not sure about a PR removing them all at once, there are many notebooks with open PRs to update them to v4. Creating git conflicts for this seems too much trouble for what willbe getting fixed.

I'd suggest reviewing all open PRs to make sure if they are editing a notebook with those tags they get removed and a PR removing them for those without open PRs

[2022-06-10 16:51] twiecki commented on #374
We could probably write a small script to do them all.

[2022-06-10 23:16] #72 closed

[2022-06-11 09:13] drbenvincent commented on #374
Nearly there. Not done this kind of stuff before so maybe I'm missing something very simple.

[code]

[2022-06-11 11:12] drbenvincent commented on #374
So this seems like a better approach, and that it _should_ work.

[code]

But the resulting `.ipynb` files are not readable. Error when trying to open an edited file in Jupyter lab:
[code]

Any ideas what's going on here?

[2022-06-11 12:00] michaelosthege commented on #374
Can you post a few lines of before/after JSON?

Just a rough guess, but from looking at the code this could be a lot easier to do with RegEx via `re.sub(pattern, replacement, text)`.

Otherwise, if the JSON looks fine visually, double check the encoding. Jupyter is a little picky about that.

[2022-06-11 12:06] drbenvincent commented on #374
start
[code]

end
[code]

[2022-06-11 12:09] drbenvincent commented on #374
Quite possibly, but I'm not that experienced with regular expressions.

Will take a look

[2022-06-11 12:18] michaelosthege commented on #374
It might be enough to do `.replace("pymc.", "").replace("pymc3.", "")` on the entire document here.
In the code we don't usually have `pymc.` occurences and in the end you'll see it in the git diff.

If you open the project with VS Code, you could even do this with the Find & Replace across all files (Ctrl+Shift+H).

If you want to continue the programmatic route, maybe unindent your `json.dump` l

[2022-06-11 12:19] drbenvincent commented on #374
The formatting and the end of the file seems messed up. Problem seems to happen even if you just write the file with zero changes to it.

[2022-06-11 12:23] michaelosthege commented on #374
But then it's definitely an encoding issue. VS Code shows the encoding in the bottom right corner.
You'll probably have to specify the encoding like here:

https://github.com/pymc-devs/pymc-examples/blob/c323de9a39cc91e55ea6e0339cfd380add6bd49d/scripts/rerun.py#L52-L58

[2022-06-11 12:23] drbenvincent commented on #374
Well we want to remove the whole tag, not just the `pymc` prefix. So I'm not sure if that will work

That definitely helps. Although I think the issue is something fundamental with writing to the file... if I comment out any changes so you just read and write the file then the problem stays the same

[2022-06-11 12:59] drbenvincent commented on #374
Got it. The file read/write pattern used in `rerun.py` works.

[code]

[2022-06-11 14:30] drbenvincent commented on #374
This is mostly done. All we need to do now is ensure all pull requests remove any `pymc*` tags.

[2022-06-11 14:30] #374 closed

[2022-06-11 15:18] drbenvincent commented on #188
I think this issue is stale and can be closed. @OriolAbril?

[2022-06-11 15:21] drbenvincent commented on #236
Now we've released v4, the urgency of this has diminished. So we could close this issue and fall back to #333?

[2022-06-11 15:23] #188 closed

[2022-06-11 15:26] drbenvincent commented on #216
This is not fixed yet.

New notebook location with new website: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-hierarchical.ipynb

Still needs to be updates to best practices.

[2022-06-17 08:26] drbenvincent commented on #270
Done :)

[2022-06-17 22:04] drbenvincent commented on #83
This could do with some simplification to focus on the core aspects of model comparison. Specific proposals:
- remove interactive aspects of this notebook. They only work when running locally, not when viewing on the website. And in fact it is pretty clunky when I run the ipywidgets locally. Seems like a distraction.
  - remove interactive the dataset viewing
  - remove the interactive posterior p

[2022-06-18 21:36] OriolAbril commented on #83
Always in favour of simplifying notebooks to have a clearer and more to the point scope. My main concern (not remembering the content of either notebook right now so tread lightly) is that it might end up being too similar to https://www.pymc.io/projects/docs/en/stable/learn/core_notebooks/model_comparison.html

[2022-06-19 13:59] drbenvincent commented on #83
Good point. Could potentially be expanded to include model comparison by Savage Dickey method perhaps

[2022-06-19 13:59] drbenvincent commented on #83
I didn't actually realise there were these separate core notebooks.

I think it's very cool to have these core notebooks under "Learn". But I think these notebooks should additionally be visible along with the regular pymc example notebooks. Some people might go straight to the Examples and not know about the extra ones under Learn.

Can I propose that these core notebooks stay where they are, but

[2022-06-19 14:10] OriolAbril commented on #83
Yes, they should be listed at the top of the gallery page. We can use cards manually with sphinx-design

[2022-06-19 14:39] drbenvincent commented on #83
I'll submit an issue and PR for this. Hopefully in the next few days.

[2022-06-19 14:42] drbenvincent opened #379 "add notebooks in `learn/core_notebooks` to the main examples gallery"
Following quick discussion here https://github.com/pymc-devs/pymc-examples/issues/83#issuecomment-1159736382 we'll add the notebooks of core features (listed here https://www.pymc.io/projects/docs/en/stable/learn/core_notebooks/index.html) to the main set of examples here https://www.pymc.io/projects/examples/en/latest/gallery.html.

Add as the first section in the gallery

Core notebook files are

[2022-06-19 14:53] OriolAbril commented on #379
We'll need to upload the images locally (or generate custom thumbnails) and then use the grid directive with links of `ref` type. something like:

[code]

[2022-06-19 14:57] drbenvincent commented on #379
And that goes at the top of `gallery.rst` in the pymc-examples repo?

[2022-06-19 15:01] OriolAbril commented on #379
yep (didn't realize it was rst, updated the directives

[2022-06-20 08:26] LarsKarbach opened #380 "Missing lambdas in Case Study 1 of Introductory Overview of PyMC"
**Introductory Overview of PyMC**:
**https://www.pymc.io/projects/docs/en/latest/learn/core_notebooks/pymc_overview.html**:

## Issue description
In the Model of Case Study 1 the local shrinkage prior $\tilde\lambda^2_i$ is specified as
$\tilde \lambda^2_i = \frac{c^2*\lambda^2_i}{c^2 + \tau^2*\lambda^2_i}$. However in the pymc model "test_score_model", more precisely in the specification of the b

[2022-06-20 18:42] OriolAbril commented on #380
cc @fonnesbeck

[2022-06-23 23:08] quantheory commented on #73
The problem with using this notebook in v4 is possibly due to the buggy `find_MAP` behavior mentioned in pymc-devs/pymc#5923.

[2022-06-24 02:29] cluhmann commented on #258
Closed by https://github.com/pymc-devs/pymc.io/pull/36.  The issue of the FAQs can be raised in a new issue/proposal if someone wishes.

[2022-06-24 02:29] #258 closed

[2022-06-24 23:59] caxelrud opened #382 "UpdatingPriors"
**updating_priors**:
**[Notebook url] (https://docs.pymc.io/en/v3/pymc-examples/examples/pymc3_howto/updating_priors.html)**:
For the following code section, to get to the posterior trace, I had to change to `trace.posterior.alpha.mean(axis=0)`, etc.
I am not sure if this is correct. Check the code:
[code]
But, I got the following error on `trace = sample(1000)`:
[code]

[2022-06-27 22:25] OriolAbril commented on #382
I would do:

[code]

Potentially useful references:
* https://oriolabrilpla.cat/python/arviz/pymc/xarray/2022/06/07/pymc-arviz.html
* https://cluhmann.github.io/inferencedata/
* https://python.arviz.org/en/latest/getting_started/WorkingWithInferenceData.html

[2022-06-28 22:27] caxelrud opened #384 "Updating the example "Getting started with PyMC4: Bayesian neural networks" from Martin Krasser"
I looking forward to update the following example to the current pymc:
"Getting started with PyMC4: Bayesian neural networks - Martin Krasser"
https://nbviewer.org/github/krasserm/bayesian-machine-learning/blob/dev/bayesian-neural-networks/bayesian_neural_networks_pymc4.ipynb
The example uses tensorflow and have the following line (full model follows):
 `return activation(tf.tensordot(x, w, axes=[

[2022-06-30 13:16] drbenvincent opened #385 "Pre-commit getting in the way"
I’m trying to do an initial commit on my fork of `pymc-examples` so I can do a PR of a new notebook.

I run the pre-commit checks with `pre-commit run --all`  and it all passes. But then when I try to commit I get errors complaining that the ipynb and myst files are inconsistent. So I delete the myst file and regenerate it by running `pre-commit run --all` again, and I get the same errors. So I’m

[2022-06-30 13:44] OriolAbril commented on #382
Oh, I see. I was only trying to provide a working alternative to the indexing and averaging code, without looking and what it was doing.

You are taking the mean, therefore reducing your posterior samples to a single summary value, then trying to get a KDE from there which is impossible. The original code doesn't take the mean. It looks like you want a 1d array with both chain and draw dimensions

[2022-07-02 12:35] drbenvincent commented on #385
One of the problems I am facing is that the local pre-commit checks are changing the spelling in a URL (which is a not sensible thing to be trying to do). Depending on what way the wind is blowing it seems to only do this on the myst files which then creates a conflict between the ipynb and myst files.

Long story short, the use of `codespell` in the precommit code is causing real issues.

This se

[2022-07-04 03:40] hectormz commented on #385
@drbenvincent it looks like you have a solution in #388 that might do the trick. I agree, if `codespell` is frustrating or getting in the way, something should be changed.

[2022-07-04 22:01] #385 closed

[2022-07-08 12:51] symeneses commented on #115
I would like to work on this issue 🙋🏽‍♀️

[2022-07-09 14:49] azihna commented on #56
Working on this with @princeasiedu

[2022-07-09 17:27] reshamas opened #394 "Update example notebooks for better rendering from v3 to v4 of PyMC"
## NOTE
This issue is reserved for the #DataUmbrellaPyMCSprint

### References
- Issue [#5460](https://github.com/pymc-devs/pymc/issues/5460)
- [Jupyter style guide](https://www.pymc.io/projects/docs/en/stable/contributing/jupyter_style.html)

### List of PyMC Example Notebooks that Need to be Updated
- [ ] [examples/diagnostics_and_criticism/Bayes_factor.ipynb](https://github.com/pymc-devs/pymc-e

[2022-07-09 17:34] reshamas commented on #394
I am working on:   [examples/diagnostics_and_criticism/Bayes_factor.ipynb](https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/Bayes_factor.ipynb)

[2022-07-09 18:08] PrinceAsiedu commented on #270
Working on this

[2022-07-09 18:16] PrinceAsiedu commented on #270
I think I have to move to another notebook because this already has the opening and closing cells I intended on adding to the notebook
@reshamas

[2022-07-09 23:22] PrinceAsiedu commented on #128
Working on this one

[2022-07-09 23:32] PrinceAsiedu commented on #53
Working on this one

[2022-07-11 11:28] OriolAbril commented on #394
Updated the title as the task is about updating the markdown content and metadata, without rerunning the notebook.

The issue to update the notebooks from v3 to v4 is https://github.com/pymc-devs/pymc-examples/issues/333. The two tasks are independent and can be done sequentially or together... hoping to avoid confusion about the scope of the issue.

[2022-07-14 13:52] jlindbloom commented on #394
I am working on: [examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb](https://github.com/pymc-devs/pymc-examples/blob/main/examples/diagnostics_and_criticism/Diagnosing_biased_Inference_with_Divergences.ipynb)

[2022-07-15 20:22] computbiolgeek opened #399 "unhashable type: 'dict' in Bayesian regression with truncated or censored data"
**Bayesian regression with truncated or censored data**:
**[Notebook url](https://www.pymc.io/projects/examples/en/latest/generalized_linear_models/GLM-truncated-censored-regression.html#implementing-truncated-and-censored-regression-models)**:

## Issue description
Running the following chunk of code in the corresponding notebook

[code]
gave a TypeError
[code]

## Expected output
The figure belo

[2022-07-22 08:06] symeneses commented on #394
I am working on the notebook [updating_priors](https://github.com/pymc-devs/pymc-examples/blob/main/examples/howto/updating_priors.ipynb). Waiting for the issue https://github.com/pymc-devs/pymc/issues/5959 to be solved.

[2022-07-22 16:50] symeneses commented on #79
@anarita93 and I are working on this

[2022-07-22 17:06] kuvychko commented on #234
Working on this notebook, as part of PyMC Open Source session #2 with @PrinceAsiedu

[2022-07-22 17:52] #56 closed

[2022-07-22 17:54] #234 closed

[2022-07-22 17:56] #270 closed

[2022-07-22 20:26] reshamas commented on #394
@jlindbloom
I didn't notice you were working on this. Sorry!  I submitted a PR on this one, #402

[2022-07-22 22:15] OriolAbril commented on #115
@symeneses moving the discussion from https://github.com/pymc-devs/pymc-examples/issues/394#issuecomment-1192300850 to here.

The approach used in the updating priors notebook has multiple problems, the most critical one being that it uses univariate priors, which is generally not the case and can't be extended or used in other cases. I wrote a bit on this in one of my blogposts: https://oriolabri

[2022-07-23 08:14] symeneses commented on #115
I think we can update this notebook using `pm.Interpolated` if this is a `good example` of how to use `pm.Interpolated`, and create after a similar one using the approach you suggested. Otherwise, we can update the notebook as you suggested.

[2022-07-23 13:53] OriolAbril commented on #115
I don't think it is a good example of using `pm.Interpolated` as its use is intertwined with the prior updating. At least that is the impression I got from Discourse and some other issues, users don't really understand how Interpolated works and is being used here and they generally struggle updating the code to their own models due to this (which is problematic because they probably should not be

[2022-07-23 14:26] OriolAbril commented on #399
Thanks for reporting. What versions of pymc and aesara are you using?

[2022-07-23 20:45] kuvychko commented on #109
I'd like to take this one. @OriolAbril, you can assign it to me (not sure if that's part of the process). Thanks!

[2022-07-23 21:24] reshamas commented on #109
@kuvychko There are a couple of ways to "claim" an issue:
1.  on issue, you can say "I am working on this"
2. you can type "take" and it should assign it to you.

[2022-07-23 23:57] kuvychko commented on #109
/take

@reshamas  - thank you!!

[2022-07-23 23:57] kuvychko commented on #109
take

[2022-07-23 23:58] kuvychko commented on #109
"take"

[2022-07-24 11:52] reshamas commented on #109
@kuvychko Sorry to misinform. This works in the scikit-learn repo, so I assumed it was a default GitHub feature.

Ref:  https://scikit-learn.org/stable/developers/contributing.html#contributing-code
Example:
[code]

I assume it needs to be set up for this repo.

[2022-07-24 13:25] kuvychko commented on #109
@reshamas - no worries, thank you!

I started working on this notebook, and ran into an issue. The example used no longer works as intended: with `step = pm.Metropolis()` sample fails immediately with a very clear exception message:

`SamplingError: Initial evaluation of model at starting point failed!
Starting values:
{'mu': array(0.), 'sd': array(0.)}

Initial evaluation results:
{'mu': -0.92, '

[2022-07-24 22:24] aloctavodia commented on #115
Nothing from the top of my head... but I will try to think about an example.

[2022-07-25 18:51] OriolAbril commented on #109
There are always examples of broken models on Discourse. I'll try to browse a bit to find one. It is nice to see the error message is so much nicer now that the "debigging for wrong initial point issues" is no longer needed!

I do think the notebook is still needed though, and I am confident we'll find another model to show how to debug, maybe some model that has problematic shapes for example?

O

[2022-07-25 23:05] kuvychko commented on #109
@OriolAbril  - indeed, new exception message is excellent, very neat improvement! Thanks for your advice, I'll experiment with bad priors, and keep working through this notebook. If you find a good example please let me know! By any chance, do you know who is the original author of this notebook? It doesn't have that info.

[2022-07-26 05:15] ricardoV94 commented on #109
One way printing is useful is if you have intermediate operations between variables, so that you don't know the exact value that is leading to problems.

[2022-07-26 16:33] kuvychko commented on #109
@ricardoV94 - thanks, I'll experiment with your example. Question: what if instead of using aesara.printing.Print, you route intermediate values to a Deterministic variable? Seems like both methods should work in a similar way.

[2022-07-26 16:40] ricardoV94 commented on #109
The model will likely fail without any way of seeing what the value of the deterministic was.

[2022-07-28 16:43] computbiolgeek commented on #399
Thanks for the reply. My PyMC and aesara version are
[code]

[2022-07-28 17:41] ricardoV94 commented on #399
Instead of `m_censored.logp` you should call `m_censored.compile_logp()`

[2022-07-28 17:49] OriolAbril commented on #399
Do you want to send a PR to update and rerun the notebook @computbiolgeek?

[2022-07-28 20:00] computbiolgeek commented on #399
Changing
[code]
to
[code]
did resolve the error. Thank you so much!

I typed up everything from scratch and did not clone the notebook. Let me know if a PR is still needed. Thanks!

[2022-07-31 03:10] kuvychko commented on #109
Hi everybody, I ran into an issue trying to commit my new version of the notebook. During pre-commit a copy of the notebook in md format is created in the same folder (examples/howto/howto_debugging.md) instead of myst_nbs/howto/howto_debugging.myst.md, therefore jupytext check is filing. Any advice on how to fix this?

[2022-07-31 03:21] OriolAbril commented on #109
does the ipynb file have some custom jupytext metadata that is overriding the project configuration?

[2022-07-31 03:51] kuvychko commented on #109
I made no changes to the metadata. Here how it looks like for howto_debugging.ipynb (problem notebook):

[code]

and here is the metadata for spline.ipynb (myst.md export worked for it). It has the extra "interpreter" bit and a hash value.

[code]

[2022-07-31 04:10] OriolAbril commented on #109
I don't know what the interpreter thing but I think it is not relevant here. The key part are these lines:

[code]

which should not be there as they are overriding the project level jupytext config.

[2022-07-31 05:41] conorhassan opened #405 "Conditional Autoregressive (CAR) Models for Spatial Data"
# Notebook proposal
**Title**: Conditional Autoregressive (CAR) Models for Spatial Data

## Why should this notebook be added to pymc-examples?
The `CAR` distribution is within the multivariate distributions that PyMC supports, but there are no notebooks that offer an example.

Suggested categories:
* Level: beginner
* [Diataxis](https://diataxis.fr/) type: tutorial

## Related notebooks
Junpeng w

[2022-07-31 05:49] OriolAbril commented on #405
Is the goal to write a new notebook from scratch or to update https://www.pymc.io/projects/examples/en/latest/case_studies/conditional-autoregressive-model.html to v4?

[2022-07-31 06:05] conorhassan commented on #405
Hi Oriol, I've written the notebook already. I would say it's somewhere between the two. The models and datasets used are very near similar (updated to v4). However, I would say the level is more introductory and focused on instances when you would add the random effect term within the model building process.

[2022-07-31 06:08] conorhassan commented on #405
I'm trying to commit the changes locally to a branch before creating a pull request for this issue. The `pre-commit` tests all pass, but when trying to commit the changes, I get the following error:
![image](https://user-images.githubusercontent.com/60036516/182012636-b3c2fe3f-2b19-4dcb-a77a-ea4a1b2e9bec.png). Do you know what I am doing wrong?

[2022-07-31 13:56] kuvychko commented on #109
D'oh! @OriolAbril - thanks, I fixed it (my bad!) Pull request is in :-).

[2022-07-31 15:35] kuvychko commented on #109
@OriolAbril  - a question on hyperlinks in notebooks. In splines notebook there are several hyperlinks to externals pages, and jupytext check was happy. In my initial version of "how to debug" I had two hyperlinks, one to [Aesara doc](https://aesara.readthedocs.io/en/latest/tutorial/debug_faq.html) and another to github repo of Lindley Lentati. Both properly formatted (same as in passing splines n

[2022-07-31 17:51] OriolAbril commented on #109
I thought we had updated the name of that check. There is nothing inherently wrong with external links, there can be as many external links as you want. The check is against urls that should instead be sphinx references. In this case, the link to the Aesara documentation should not be a url but a sphinx cross-reference instead. I added a section on how to use sphinx-cross references in my pymc-exa

[2022-07-31 20:49] kuvychko commented on #109
@OriolAbril - really appreciate the details, thanks!!! sphinx write-up is really helpful, too. I didn't realize that aesara falls under the same rubric as pymc in terms of documentation, which makes total sense! looks like a well thought-out system.

[2022-07-31 21:21] OriolAbril commented on #109
You can see in the pre-commit config which are the websites whose urls are "forbidden": https://github.com/pymc-devs/pymc-examples/blob/main/.pre-commit-config.yaml#L87-L97

[2022-07-31 23:04] bwengals commented on #405
I think when pre-commit or black or whatever else makes changes, you just need to `git add` and `git commit` the changed files it changed.  `git checkout` I think will undo the changes pre-commit made, so if you do that and then commit again, pre-commit makes the same changes it had, putting you in a bit of a loop.   Not 100% sure that's what's going on though.

 After you `add` and `commit`, and

[2022-08-01 16:35] LarsKarbach opened #407 "Bayesian Decision Analysis (Posterior Predictive + Utility Function)"
# Notebook proposal
**Title**: Bayesian Decision Analysis

## Why should this notebook be added to pymc-examples?
PyMC lacking an example of a Bayesian Decision Analysis, much in the style of an example in Stan's Users Guide (see reference). I could try to create a Notebook, if that's of interest.

# References
https://mc-stan.org/docs/stan-users-guide/example-decision-analysis.html

[2022-08-01 17:00] canyon289 commented on #407
this would be great! Please go ahead and add one

On Monday, August 1, 2022, LarsKarbach ***@***.***> wrote:

[2022-08-02 14:52] OriolAbril commented on #405
From the codespell image, it looks like there is a typo. There is an instance of `ther` which is failing pre-commit and therefore preventing you to commit. Note that you can still commit by using `--no-verify` as shown in https://docs.pymc.io/en/latest/contributing/python_style.html#pre-commit-checks to get the PR started already before fixing this (which is not needed to open a PR, it is needed f

[2022-08-03 00:43] ccurro opened #408 "Unused prior in Bayesian AB testing case study"
**Notebook title**: What is A/B testing?
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/case_studies/bayesian_ab_testing.ipynb

## Issue description

In the `RevenueModel` class the `converted` object goes unused:
[code]

The following line uses `purchased` (which is supposed to represent collected data) as `alpha` - I'm guessing that should be `converted`?

## Exp

[2022-08-03 07:37] symeneses opened #409 "Thumbnail gallery is not rendering properly"
## Issue description
Building the dosc with the current versions (sphinx-gallery-0.11.0, ) is breaking the thumbnail gallery: https://pymcio--404.org.readthedocs.build/projects/examples/en/404/gallery.html.

[This build](https://readthedocs.org/projects/pymc-examples/builds/17519027/) seems to be the last working [build](https://readthedocs.org/projects/pymc-examples/builds/).

Last working versio

[2022-08-03 07:57] #79 closed

[2022-08-03 09:40] twiecki commented on #409
Thanks for looking into this @symeneses, want to do a PR to fix it?

[2022-08-03 12:27] symeneses commented on #409
Yes, I will see if there is an error that we have or an issue in the updates. For now, the versions where the gallery is being displayed correctly were pinned in #404.

[2022-08-03 15:44] juanitorduz commented on #272
@ricardoV94 I need to learn about this topic and your notebook is a hidden gem ;) I have seen your last update (commit) was a month ago. Will you push this notebook to the finish line or do you need some support? I'll be happy to help. Great work (as always)!

[2022-08-03 15:48] ricardoV94 commented on #272
@juanitorduz If you mean adding it to pymc-examples, it's up for grabs. I don't plan to work on it in the foreseeable future.

If you want to extend it, many people have asked how to include multiple participants/experiments and not just a single one as in the example.

[2022-08-03 15:50] juanitorduz commented on #272
Yes, put it into the docs! I suggest (as I am not an expert in the subject) format the notebook in order to publish it in the docs , get feedback and iterate.

[2022-08-03 16:13] ricardoV94 commented on #272
That would be great!

[2022-08-04 22:48] reshamas commented on #67
I will work on this notebook: update header and footer with Jupyter Style Guide.

[2022-08-05 13:39] juanitorduz commented on #408
This is an interesting observation! I particular because of the model specification
![image](https://user-images.githubusercontent.com/22996444/183089150-8d8fc9dc-2fd1-4535-a6c9-bbc6ecd99b7a.png)
I would love to hear more opinions :)

[2022-08-05 21:52] OriolAbril commented on #408
I don't have any domain knowledge regarding this model but I suspect you are _technically_ right.

Using

[code]

as it is done now is not exactly the same as it would be doing

[code]

**However**, the two models are equivalent for all tasks and uses in that notebook. Both `converted` and `revenue` have an `observed` kwarg, they are likelihood terms, they do not define priors. They are not sample

[2022-08-13 03:07] kuvychko commented on #88
I'd like to take this issue

[2022-08-17 01:45] #109 closed

[2022-08-18 20:14] #272 closed

[2022-09-12 22:44] cbrummitt opened #418 "Add an example of predicting on a new, unseen group in the existing notebook about hierarchical models"
# Proposal

In the existing notebook [A Primer on Bayesian Methods for Multilevel Modeling](https://www.pymc.io/projects/examples/en/latest/case_studies/multilevel_modeling.html), add an example at the bottom, in the section about [prediction](https://www.pymc.io/projects/examples/en/latest/case_studies/multilevel_modeling.html#prediction), about making predictions on a new, unseen group.

## Why

[2022-09-14 08:18] twiecki commented on #236
Closing in favor of #333.

[2022-09-14 08:18] #236 closed

[2022-09-14 10:45] ricardoV94 commented on #399
I confirm the code in the notebook still needs to be updated

[2022-09-14 10:47] ricardoV94 commented on #209
After https://github.com/pymc-devs/pymc/pull/6113, `pm.Bound` will be marked as deprecated. Examples that rely on it should switch to use of `pm.Truncated` or unbounded_distribution + interval transform (continuous) or potential (discrete) if the exact behavior of `Bound` is to be replicated (sampling in the truncated region without the renormalization term)

[2022-09-15 00:18] cluhmann opened #421 "Problems in (high profile) GLM Hierarchical notebook"
**Notebook title**:GLM: Hierarchical Linear Regression
**Notebook url**: [source link](https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-hierarchical.ipynb), [website link](https://www.pymc.io/projects/examples/en/latest/generalized_linear_models/GLM-hierarchical.html)

## Issue description
There are many, many divergences in the sample of the main, hierar

[2022-09-15 10:16] LegrandNico commented on #101
Hi, I would like to update this notebook to pymc v4, is there anything I should know?

[2022-09-16 17:38] OriolAbril commented on #421
Maybe we can remove/deprecate it in favour of https://www.pymc.io/projects/examples/en/latest/case_studies/multilevel_modeling.html? Or probably better combine/restructure the two to link between them to make them complementary and avoid duplication.

cc @fonnesbeck who I know was thinking about improving the multilevel modeling primer one.

[2022-09-16 19:12] fonnesbeck commented on #421
Yes, there are a few things about the current version of the multilevel modeling primer I don't like (notably the expression of floor and basement as being independent). There is significant overlap in content with this notebook, so I'd be in favor of somehow merging them. If I'm not mistaken, this notebook originally used the now-extinct `glm` submodule, which made it stand out a little more. As

[2022-09-17 12:31] #379 closed

[2022-09-19 09:46] lucianopaz commented on #418
Thanks for opening the issue @cbrummitt. I had completely lost your question over on discourse. In [v4 we wrote a new way to do posterior predictive sampling](https://github.com/pymc-devs/pymc/pull/5759) that is flexible and doesn’t require the use of model factory functions to do out of sample predictions. You’re totally right that this functionality has not been properly showcased and isn’t visi

[2022-09-21 17:52] #172 closed

[2022-09-22 07:10] drbenvincent opened #422 "update notebook(s) to use `pm.Truncated`"
Now that we have `pm.Truncated` in [v4.2.0](https://github.com/pymc-devs/pymc/releases/tag/v4.2.0), we should update the notebook(s) to use this.

- [ ] https://www.pymc.io/projects/examples/en/latest/generalized_linear_models/GLM-truncated-censored-regression.html

[2022-09-22 15:13] #399 closed

[2022-09-22 15:13] #422 closed

[2022-09-26 10:02] ccaprani opened #425 "Black box external likelihood notebook"
Using a “black box” likelihood function (numpy)
[**Notebook url**](https://www.pymc.io/projects/examples/en/latest/case_studies/blackbox_external_likelihood_numpy.html)

## Issue description
The updates done as part of #28 changed quite a few of the functions so that the text no longer matches the code. @rayhagimoto has left [a very useful comment](https://github.com/pymc-devs/pymc-examples/pull/2

[2022-09-28 16:59] reshamas commented on #88
@kuvychko Are you still working on this notebook for GLM robust?

[2022-09-28 17:10] kuvychko commented on #88
@reshamas - yes, I apologize for being slow, life got in the way. I will have it done by end of next week, if that's ok.

[2022-09-28 17:17] reshamas commented on #88
@kuvychko thanks for the quick response.  It's no rush. I was taking inventory of what notebooks still needed to be done.

[2022-09-28 17:22] reshamas commented on #80
I will work on this notebook.

[2022-09-30 06:17] togawakotori opened #428 "Little mistake in "GLM: Linear regression""
**Notebook title**:  GLM: Linear regression
**Notebook url**:  https://www.pymc.io/projects/docs/en/stable/learn/core_notebooks/GLM_linear.html

## Issue description

The formula here seems to be wrong.
![image](https://user-images.githubusercontent.com/26295681/193202673-16402e9d-b1a2-42ce-a051-1a9bf5efdbb5.png)

## Proposed solution
I think the correct formula should be:

idata.posterior["y_mode

[2022-09-30 17:15] OriolAbril commented on #428
We should probably add a note on this. The model uses bambi to take advantage of the formula defined model. In such cases, as there can be multiple slopes, bambi names each slope with the name of the variable in the formula it multiplies, here `x`. Thus `idata.posterior["x"]` contains the posterior samples for the slope that multiplies `x`.

[2022-10-02 14:06] reshamas opened #430 "notebook: model_selection; update tag"
**Notebook title**: Model Selection
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-model-selection.ipynb

## Issue description
tag is currently "generalized linear models"
need to change it to "generalized linear model" so it matches the category tag of the rest of the GLM notebooks.

<img width="237" alt="Screen Shot 2022-10-02 at 10

[2022-10-02 17:52] reshamas opened #431 "notebooks: clean up tags"
**Notebook title**: various
**Notebook url**: various

## Issue description
Some tags can be streamlined to reduce the number of categories.  There are currently ~80 categories.

Tags:
https://www.pymc.io/projects/examples/en/latest/blog/tag.html

## Examples
1. "Aesara" and "aesara"
1. "BART" and "Bayesian additive regression trees"
1. "Bayesian workflow" and "bayesian workflow"
1. "truncated" an

[2022-10-06 21:44] reshamas opened #433 "nb: glm-model-selection, bambi import error"
**Notebook title**: GLM Model Selection
**Notebook url**: https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-model-selection.ipynb
Note:  it is using pymc3

## Issue description
[code]

## Expected output
The notebook should run without error.

## Proposed solution
Do the requirements file need to be updated to install bambi?
1. https://github.com/pymc-devs

[2022-10-08 12:23] reshamas opened #435 "notebook: GLM-robust-regression"
**Notebook title**: GLM: Robust Linear Regression
**Notebook url**:  https://github.com/pymc-devs/pymc-examples/blob/main/examples/generalized_linear_models/GLM-robust.ipynb

## Issue description
[code]

Error:
[code]

*Note that this issue tracker is about the contents in the notebooks, if
the notebook is instead triggering a bug or error in pymc, please
report to https://github.com/pymc-devs/pym

[2022-10-08 12:30] reshamas commented on #435
cc:  @kuvychko, in case you might know how to resolve this error.

[2022-10-09 02:15] kuvychko commented on #435
@reshamas - I don't, at least not at the moment. I have a couple of unexpected things taking a lot of my time over the last couple of weeks. If I don't make substantial progress during the next two weeks I will let you know and bow out of working on this notebook, I don't want to hold up progress.

[2022-10-10 07:15] togawakotori commented on #428
ok. I first thought that the bambi part was optional so I just skipped that.

[2022-10-10 07:15] #428 closed

[2022-10-10 20:09] drbenvincent opened #437 "Fix unintentional list of notebooks in top left of examples gallery page"
We have an error where some notebooks are listed in the top left of the gallery page, below the object use index.

<img width="991" alt="Screenshot 2022-10-10 at 22 04 44" src="https://user-images.githubusercontent.com/6765047/194944147-6c3fe926-e8af-4dae-9d59-eb762c153122.png">

[2022-10-10 20:16] OriolAbril commented on #433
We should not update the requirements file but instead add a note about the need for libraries that are not pymc dependencies: https://docs.pymc.io/en/latest/contributing/jupyter_style.html#extra-dependencies

[2022-10-10 20:24] #431 closed

[2022-10-10 20:28] drbenvincent opened #438 "Fix order of tags"
Currently, the tags are ordered first by capitalised/uncapitalised, then by alphabetical order.

I propose that this change to be only sorted by alphabetical order, regardless of capitalisation.

Currently, tags look like this:
<img width="309" alt="Screenshot 2022-10-10 at 22 26 04" src="https://user-images.githubusercontent.com/6765047/194947091-7a813f35-ac84-4fa8-955a-731b2f1324ce.png">

PS. I

[2022-10-10 21:26] #430 closed

[2022-10-11 10:22] #437 closed

[2022-10-11 10:24] twiecki opened #440 "Improve myst workflow"
Me and many other contributors have had to fight with pre-commit and keeping the myst-file in sync. Hoping there are ways we can improve the workflow to make it less confusing. One thing I by default do is to remove the myst file and have it be re-created by pre-commit. Perhaps we could automatically have it be regenerated by pre-commit?

CC @OriolAbril

[2022-10-11 14:32] jhrcook opened #441 "'Tumoroscope' model in PyMC"
# Notebook proposal
**'Tumoroscope' model in PyMC**

## Why should this notebook be added to pymc-examples?

The 'Tumoroscope' model is a generative, graphical model for estimating proportions of cancer sub-clones in spatial transcriptomics data. It was originally built and sampled using a custom Gibbs Sampling process, but I have re-created it in PyMC and used the built-in "Inference Button" to p

[2022-10-11 15:27] reshamas opened #442 "notebook tag: GP example tags dataset"
**Notebook title**: Gaussian Process for CO2 at Mauna Loa
**Notebook url**:  https://www.pymc.io/projects/examples/en/latest/gaussian_processes/GP-MaunaLoa.html

## Issue description
This notebook has a tag for "CO2" which is the dataset used.  Not sure why dataset is a tag here.

There is a "radon" example which doesn't have a tag. Same for "airline passenger data", etc.

## Proposed solution
`Ap

[2022-10-11 15:29] reshamas commented on #438
@drbenvincent I wish there were an option to have a "dot" or some other symbol to separate one tag from another.
Because right now, it's hard to differentiate.
Or, if every other tag were a slightly different color.

[2022-10-11 15:30] reshamas commented on #438
cc: @symeneses, in case you have any ideas on this.

[2022-10-11 15:53] reshamas commented on #431
@drbenvincent Did we miss this one, or is my website cached?
"gaussian processes" and "gaussian process"

[2022-10-11 21:44] ricardoV94 commented on #441
Go for it ;)

[2022-10-12 03:35] twiecki opened #443 "Add template NB"
There are quite a few things that have to be present in a NB, we should have a template NB that has all of them.

[2022-10-12 14:53] drbenvincent commented on #443
Would presumably have to be stored in a location such that it's not treated as an actual notebook and thus rendered on the site.

[2022-10-13 15:24] reshamas opened #446 "Discuss: whether to add notebook update on when notebooks were transferred from pymc"
**Notebook title**:  generally, most
**Notebook url**:  generally, most

## Issue description
In updating the notebooks and the "Author" section, I have been adding this information:
[code]

Some notebooks have been merged with this updates, and other(s) are under discussion.
See:  https://github.com/pymc-devs/pymc-examples/pull/426/files#r984794260

@OriolAbril

@reshamas:

## Note
Can we discuss

[2022-10-16 11:08] drbenvincent opened #447 "Improve visuals of the notebook gallery"
The gallery is great, but there is definitely room for improvement. This is particularly noticeable since the core notebooks were added to the top of the page. The thumbnails are small and the full width of the central column of the page is not used.

I'm not sure, but can we fix this simply by editing the thumbnail size here?

https://github.com/pymc-devs/pymc-examples/blob/dce63a03b894d39a0a39a4

[2022-10-16 12:05] reshamas commented on #447
cc:  @symeneses, in case you have any ideas on sphinx.

[2022-10-16 13:08] drbenvincent opened #448 "update `requirements-write.txt`"
The current requirements file is out of date and potentially too minimal

https://github.com/pymc-devs/pymc-examples/blob/dce63a03b894d39a0a39a4773f9a0226078391c1/requirements-write.txt#L1-L9

# Todo
- [ ] Replace `pymc3` with `pymc`, possibly with a `>=4.0` version tag.
- [ ] We don't need to have total coverages of _all_ packages used in the repo, but it would be helpful to add more commonly use

[2022-10-16 13:48] drbenvincent opened #449 "update to cleaner code with `arviz.extract`"
Lines like this represent a common pattern across many notebooks in the repo:

[code]

This is basically some `xarray` stuff to get a 'flat' vector of MCMC samples by collapsing over chain and draws. But it is arguably unclear, opaque, and potentially frustrating to many users.

I propose we use the new(ish) [`arviz.extract`](https://python.arviz.org/en/latest/api/generated/arviz.extract.html) fun

[2022-10-16 15:12] twiecki commented on #449
Yes, way way better.

[2022-10-17 22:43] fonnesbeck commented on #446
I don't think most will be interested in the historical location of notebooks. I would remove them. Historical commits should not be of much interest where notebooks are concerned.

[2022-10-18 21:04] NathanielF opened #450 "Forecasting with AR models"
# Notebook proposal
**Title**: Forecasting with AR models

## Why should this notebook be added to pymc-examples?
It is a little opaque how to use AR style models to make future predictions since the shape handling required for the predict steps. I wanted to include an example document for how to fit an AR model and make the prediction step and how the prediction step becomes more complicated if y

[2022-10-18 21:28] NathanielF commented on #450
Just wondering what best practice is for installing the required packages. I typically use a poetry venv to install e.g. pymc 4.1.7, but i note the requirements-write.txt only has pymc3?

[2022-10-19 08:41] drbenvincent commented on #450
Hi @NathanielF

So the requirements file is out of date (https://github.com/pymc-devs/pymc-examples/issues/448). Personally I just use my own custom environment, and to be honest it is not that crucial because the notebooks are only ever run and evaluated locally. The docs are built remotely, but I believe that happens by directly converting the locally evaluated notebook content. So in short, don

[2022-10-19 17:47] OriolAbril commented on #446
I also think we should not list that. Content on the website should be focused on readers/visitors. Authorship is only useful to them if they want to cite the notebook (which is why we eventually agreed to have the section at the end and not listing authors at the top nor in the right sidebar next to the tags) and to make sure we give credit to everyone who contributes. I think the fact that the n

[2022-10-19 21:56] OriolAbril commented on #449
I would only use `group` argument when we want to get variables that are not in the posterior group. We set this default because getting variables from the posterior is the most common operation and it is convenient to skip it

[2022-10-20 10:11] NathanielF commented on #450
Great. Will work on it a bit more tomorrow!

[2022-10-20 10:21] OriolAbril commented on #448
I agree with most of the points,  but would try to keep the requirements there minimal.

Expanding and being explicit on all downstream dependencies we use explicitly is a good idea I think too. Therefore, numpy, scipy, pandas, xarray, matplotlib, arviz. I would also add graphviz (unless there is an option for pymc[all] or something of the sort that installs pymc and optional dependencies. Regardi

[2022-10-20 18:41] OriolAbril commented on #447
I suspect it is a css and/or javascript issue with sphinx gallery but I have no idea for how to fix it.

The grid and cards for core notebooks has no formatting code in our codebase. We use https://sphinx-design.readthedocs.io/en/sbt-theme/ and everything works straight out of the box

[2022-10-20 21:47] twiecki commented on #447
I bet it's because not getting picked up in https://github.com/pymc-devs/pymc-examples/blob/dce63a03b894d39a0a39a4773f9a0226078391c1/sphinxext/thumbnail_extractor.py#L93

How are the NBs from the pymc repo included?

[2022-10-21 21:50] NathanielF commented on #450
I've adapted the broad structure of the blog post, with slight differences and less words. Happy to take feedback if you want more explanation or less or if you just think i've missed some crucial detail.

[2022-10-24 19:01] fonnesbeck commented on #421
UPDATE: Will be aiming to complete this in the next few days.

[2022-10-24 20:10] NathanielF commented on #286
Not an economist, but I think this is a cool kind of model is under served in the python infrastructure. I've used the statsmodels version to interrogate questions about the lagged relationship between app performance and customer NPS. It'd be great to see an authoritative example of how to conduct such an analysis in pymc. I think a good write could help popularise this kind of model. Even the st

[2022-10-25 08:57] drbenvincent commented on #286
Ha, the pre-commit checks haven't scared you away!

Go for it 👍🏻

[2022-10-25 09:23] NathanielF commented on #286
Will do a bit of research later this week, and try to pick it up this weekend.

[2022-10-25 15:42] OriolAbril commented on #447
They are manually (both name and image) included in https://github.com/pymc-devs/pymc-examples/blob/main/examples/gallery.rst#core-notebooks. They use a different approach to generate the grid and card view though, as they are not in this repo they can't be included via the gallery extension.

[2022-10-25 21:41] twiecki commented on #447
I see, but we could place a thumbnail into the thumbnail dir manually, no?

[2022-10-26 00:54] OriolAbril commented on #447
We can define an image for the card manually yes and put that image in the thumbnail dir or anywhere else

[2022-10-27 14:25] NathanielF commented on #286
So I looked into this a little bit yday and I have a few questions re: (a) the implementation in the pymc labs post and (b) bayesian vars in the literature.

So on (a) I noticed that we used a normal likelihood. Most packages and the literature seem interested in the covariance matrix to do downstream analysis of impulse response functions. Any reason we didn't use  MvNormal? The covariance matrix

[2022-10-27 21:14] NathanielF commented on #286
Looking at this Stan implementation of a VAR(1) hierarchicall bayesian model:

https://rpubs.com/jimsavage/hierarchical_var

We can see a panoply of priors and hyper priors of various dimensions. I can fit the model to data and retrieve similar parameter estimates to those reported. Broadly the model seems sensible, but i don't know how to translate the auto-regressive step where they seem to just

[2022-10-28 10:37] ricardoV94 commented on #286
CC @jessegrabowski

[2022-10-28 12:07] jessegrabowski commented on #286
I have something ready to go on this, I would just need to clean it up a bit and re-focus it away from some of the tangential issues. Thoughts?

https://github.com/jessegrabowski/VAR-Blog/blob/main/Big%20VAR%20Blog%20Post.ipynb

[2022-10-28 12:35] ricardoV94 commented on #286
@NathanielF @jessegrabowski perhaps it would be possible to make a short series 2-3 pymc-examples that builds on BVAR?

[2022-10-28 12:54] jessegrabowski commented on #286
Admittedly everythign in that last comment was not related to the issue. I'd be happy to write a smaller series, I'd also be happy to collaborate @NathanielF, if you're interested in some help.

[2022-10-28 13:43] NathanielF commented on #286
I'd love some help on this and i'm glad you said it's "not obvious" because i was struggling a bit with it. I'm going to try again to work on the Hierarchical model from Jim Savage's post, and if it's ok i might crib some of your code to experiment with? The dataset is quite nice and interesting in itself. It has GDP in recent years and Ireland is an outlier.

<img width="740" alt="image" src="htt

[2022-10-28 14:12] jessegrabowski commented on #286
Yeah, I agree that using hierarchical prior to try to estimate VARs for many countries simultaneously is an open field of research. I've basically never seen a paper that does it for a VAR, let alone more exotic structural time series models (DSGE or Structural Gravity are two big examples, but basically any general equilibrium framework) . I'm extremely interested in this research question, so I'

[2022-10-28 14:31] NathanielF commented on #286
That's a fair point. The lower data countries would be cool to try incorporate. I'll try play around with it again this weekend. Maybe aiming just to understand your code better, and loop back here when i'm trying the hierarchical version again. Will open a branch for working on the hierarchical BVAR and share with you when i have something worth talking about.

[2022-10-28 15:05] NathanielF commented on #286
By the way, the function you use at.nn.conv2d has disappeared from the aesera docs.

[2022-10-28 15:11] jessegrabowski commented on #286
Yeah it's scheduled for depreciation per https://github.com/aesara-devs/aesara/pull/1188

I was a bit disappointed to see it go. The alternative is just to use loops like @ricardoV94 does in the PyMC Labs blog post. No idea if there is any performance gap between the two.

[2022-10-28 15:23] ricardoV94 commented on #286
We can always add it to `pymc.math` ;)

[2022-10-28 19:09] tommy3001 opened #453 "Error in log_gaussian_cox_process Notebook: TypeError: DictConverter.posterior_predictive is not a dictionary"
**Error in log_gaussian_cox_process Notebook**:
**pymc-examples/examples/case_studies**:

## Issue description
When switching to PyMC v4.2.2 in log_gaussian_cox_process Notebook, I get in cell 19
with the call

 the following issue :

Therefore, the promised API compatibly to PyMC3 is not completely given.
Which kind of code changes are necessary in the Notebook to get it run?

[2022-11-01 22:22] NathanielF commented on #286
I've added a draft pull request here to get the conversation started: https://github.com/pymc-devs/pymc-examples/pull/456

The basic functionality works to build a hierarchical model on the macro-economic data series, but it takes quite a long time to run and i haven't experimented enough with finding good priors for the hyperparameters to make it fit faster or efficiently. I've abstracted a littl

[2022-11-02 13:27] NathanielF commented on #286
Just realised i hadn't shown an example in the notebook of a full hierarchical fit using the multivariate normal likelihood. It samples slowly and without many divergences but the convergence metrics are pretty poor.  It could be that i've misspecified the model, and it could be that i just didn't sample enough but it took ages...... and it was awful.

<img width="1282" alt="image" src="https://us

[2022-11-02 14:20] jessegrabowski commented on #286
I made some comments on the notebook (which is great btw), but they are all very "fluffy". I'll try to have a look at the actual hierarchical implementation tonight. I played around with it a bit over the weekend, but hit some snags on tangential issues (missing data in multivariate distributions...)

 I think just having a first notebook with a simple, one-country BVAR that goes into some design

[2022-11-02 14:35] NathanielF commented on #286
Thanks for the comments. Yes the statsmodels baseline makes sense. I like the three part approach, and i definitely see the hierarchical stuff as a last add on if we can get it running smoothly.

For a simple one country VAR i think the implementation i have there should be able to handle it fairly efficiently.

I'd need to do some more research on how to pull out the IRF stuff, so happy to follow

[2022-11-02 14:40] jessegrabowski commented on #286
I'm happy to put together notebook (2) entirely, building on your code/data from (1). Maybe we can fit the VAR on Ireland in part (1) and I can do the IRFs and what-not in part (2), picking up from your fitted model? Just keeping the 3 variables the same for simplicity's sake?

[2022-11-02 14:47] NathanielF commented on #286
That works for me! Not sure exactly what the policy is for saving an inference data object... but i guess it can be considered data so within the examples/data folder. I'll try on work on (1) over the weekend, won't get a chance until at least Sunday.

[2022-11-05 14:46] M-Wieler opened #458 "Introductory example for Arbitrary Distributions"
**Arbitrary distributions**:
**(https://docs.pymc.io/en/latest/learn/core_notebooks/pymc_overview.html)**:

## Issue description
I just copied the following code from the web to try it out,
[code]
but when trying to sample from this model with
[code]

I get the error:
[code]

## Proposed solution
It seems like to `logp` function does not get a class instance as first input `self`. Any help is welc

[2022-11-05 19:47] #300 closed

[2022-11-05 20:55] OriolAbril commented on #453
The APIs are similar instead of not having anything to do (like pymc 2 and 3) but it is still a major version with many breaking changes.

The notebook has been updated to one of the beta releases: https://www.pymc.io/projects/examples/en/latest/gaussian_processes/log-gaussian-cox-process.html. Now the code should work but you will need to remove `keep_size` argument in the latest versions.

[2022-11-08 21:19] OriolAbril commented on #458
Thanks for reporting, tagging  @ricardoV94 @fonnesbeck

I'll also move the issue to pymc repo where this notebook is stored

[2022-11-09 00:30] gbrunkhorst commented on #106
Hi @OriolAbril  I would be interested in helping with the ODE tutorial(s).  To get oriented, I did a little inventory of the ODE tutorials.  There are 5 different ODEs models spread across 5 different notebooks.
1. [ODE manual gradients (notebook for this open issue)](https://www.pymc.io/projects/examples/en/latest/ode_models/ODE_with_manual_gradients.html) : Lotka Volterra (Hudson's Bay Company D